extends ../index-inner
include ../blocks/mixins/breadcrumbs

block title
    title Унция — Статьи

block content
    .page.page--view--gray
        .container
            .page__wrap
                .page__head
                    +breadcrumbs([
                        {
                            link: 'index.html',
                            title: 'Главная'
                        },
                        {
                            link: 'articles.html',
                            title: 'Статьи'
                        },
                    ], 'Статья')
                    h1.h1.page__title Экспедиция за чаем!
                    h2.page__title-art Новости из Китая
                    h3.h3.page__subtitle Как, где, что и какой чай
                .page__block
                    p.page__text Драгоценные мои друзья! Ни&nbsp;за&nbsp;что не&nbsp;угадаете, чем я&nbsp;только что отобедал! И&nbsp;хотя описывать содержимое своей тарелки, а&nbsp;стало быть, и&nbsp;желудка&nbsp;&mdash; занятие не&nbsp;совсем приличное, я&nbsp;все&nbsp;же не&nbsp;могу удержаться, и&nbsp;сейчас вы&nbsp;сами поймете, отчего. Итак, я&nbsp;в&nbsp;Янгоне, в&nbsp;Британской Бирме, или, как здешние жители сами ее&nbsp;называют, Бама, и&nbsp;только что с&nbsp;большим аппетитом и&nbsp;удовольствием оттрапезничал... чаем.

                    p.page__text О, кажется, я&nbsp;вас не&nbsp;удивил! Вы, должно быть, вообразили себе, что бедный сэр Генри опять на&nbsp;голодном пайке. Влачится где-то по&nbsp;свету, не&nbsp;имея возможности порядочно поесть в&nbsp;каком-нибудь отеле или благословенной закусочной, и&nbsp;всего-то ему и&nbsp;остается, что развести костерок, вытащить из&nbsp;походного саквояжа свой медный маленький чайник, и&nbsp;если не&nbsp;утолить, то&nbsp;хотя&nbsp;бы заглушить голод очередной&nbsp;&mdash; одной из&nbsp;сотен тысяч&nbsp;&mdash; чашкой чаю... О&nbsp;да, признаюсь, что подобных трапез было немало в&nbsp;течение моего столь затянувшегося путешествия. Я&nbsp;даже мог&nbsp;бы составить небольшой реестр видов и&nbsp;сортов чая, которые одолевают голод лучше всего. Я&nbsp;слышал, что среди дам нынче вошли в&nbsp;моду диэты&nbsp;&mdash; если раньше все наперебой хотели быть пухленькими и&nbsp;давали друг другу советы, как пополнеть, то&nbsp;теперь в&nbsp;моде стройность, и&nbsp;те&nbsp;же самые леди буквально морят себя голодом и&nbsp;даже отказываются от&nbsp;сливок к&nbsp;файв-о-клоку.

                    .page__block-title
                        h2.h2 Белый чай

                    p.page__text Зеленый чай&nbsp;&mdash; большой и&nbsp;стабильный рынок, никаких сюрпризов закупка не&nbsp;преподнесла. Китай богатеет, молодежь устремляется в&nbsp;города, в&nbsp;провинции Юннань невысокая плотность населения и&nbsp;рождаемость, да&nbsp;и&nbsp;в&nbsp;целом больше возможностей заработать на&nbsp;Пу&nbsp;Эре. Никто уже не&nbsp;хочет скручивать вручную листья, при обилии других методов.
                aside.page__aside
                    .page__link-cloud
                        a.link worldfood
                        a.link Академия
                        a.link акция
                        a.link Астрахань
                        a.link блог титестера
                        a.link выставки
                        a.link достижения
                        a.link Екатеринбург
                        a.link знания
                        a.link Калининград
                        a.link компания
                        a.link корпоративные подарки
                        a.link кофе
                        a.link Красноярск
                        a.link магазин
                        a.link мероприятия
                        a.link Москва
                        a.link Нижний Новгород
                        a.link новинки
                        a.link Новосибирск
                        a.link новости
                        a.link  новые магазины
                        a.link Новый год
                        a.link подарки
                        a.link праздник
                        a.link пресса о нас
                        a.link продэкспо
                        a.link Ростов-на-Дону
                        a.link Санкт-Петербург
                        a.link  скидки и акции
                        a.link сладости
                .page__slider.indent-t--2xl
                    include ../blocks/page-slider

                .page__block.indent-t--m
                    .page__block-title
                        h2.h2 Зелёный чай
                    p.page__text Зеленый чай&nbsp;&mdash; большой и&nbsp;стабильный рынок, никаких сюрпризов закупка не&nbsp;преподнесла. Китай богатеет, молодежь устремляется в&nbsp;города, в&nbsp;провинции Юннань невысокая плотность населения и&nbsp;рождаемость, да&nbsp;и&nbsp;в&nbsp;целом больше возможностей заработать на&nbsp;Пу&nbsp;Эре. Никто уже не&nbsp;хочет скручивать вручную листья, при обилии других методов.

                .page__block
                    h3.h3 Светлые улуны
                    ol.page__ol
                        li.page__ol-li В самом Китае популярность светлых улунов сейчас падает, после взрывного роста в конце 90х – начале 00х. Это из-за большого количества некачественного чая, наводнившего рынок.
                        li.page__ol-li В самом Китае популярность светлых улунов сейчас падает, после взрывного роста в конце 90х – начале 00х. Это из-за большого количества некачественного чая, наводнившего рынок.
                        li.page__ol-li В самом Китае популярность светлых улунов сейчас падает, после взрывного роста в конце 90х – начале 00х. Это из-за большого количества некачественного чая, наводнившего рынок.
                aside.page__aside
                    .page__aside-caption
                        p.h4 Тем не&nbsp;менее объёмы производства велики, почвы вокруг Анси благоприятны для сорта Те&nbsp;Гуань Инь, институт титестеров Юннани выпускает талантливых работников, и&nbsp;мы&nbsp;закупили прекрасные образцы для всех наших светлых улунов.
                .page__block
                    h3.h3 Светлые улуны
                    ul.page__ul
                        li.page__ul-li В самом Китае популярность светлых улунов сейчас падает, после взрывного роста в конце 90х – начале 00х. Это из-за большого количества некачественного чая, наводнившего рынок.
                        li.page__ul-li В самом Китае популярность светлых улунов сейчас падает, после взрывного роста в конце 90х – начале 00х. Это из-за большого количества некачественного чая, наводнившего рынок.
                        li.page__ul-li В самом Китае популярность светлых улунов сейчас падает, после взрывного роста в конце 90х – начале 00х. Это из-за большого количества некачественного чая, наводнившего рынок.
                .page__block.indent-t--4xl
                    .page__block-title
                        h2.h2 Светлые улуны
                    .page__text В&nbsp;самом Китае популярность светлых улунов сейчас падает, после взрывного роста в&nbsp;конце 90х&nbsp;&mdash; начале 00х. Это из-за большого количества некачественного чая, наводнившего рынок.
                .page__assym
                    .page__assym-inner
                        .page__assym-item-3
                            .page__text В&nbsp;прошлом году мы&nbsp;провели слепой тест качества китайских чаев и&nbsp;пристально изучили темные улуны. Да&nbsp;Хун Пао&nbsp;&mdash; это огромное количество стилей, они зависят от&nbsp;способа обработки. У&nbsp;нас в&nbsp;продаже с&nbsp;более сильной прожаркой. В&nbsp;этом году у&nbsp;нас новичок&nbsp;&mdash; менее прожаренный Да&nbsp;Хун Пао (Чжун Хо)&nbsp;&mdash; про него будет отдельная статья, когда он&nbsp;появится в&nbsp;магазинах. Мы&nbsp;уверены, что закупили образцы, подходящие под критерии, выявленные в&nbsp;ходе нашего исследования.
                        .page__assym-item-6
                            figure.page__img-aside
                                img(src="../images/content/image-aside.jpg")
                                figcaption.page__img-aside-caption В&nbsp;самом Китае популярность светлых улунов сейчас падает, после взрывного роста в&nbsp;конце.

                .page__ps.indent-t--3xl
                    .page__ps-title P. S.
                    .page__ps-text Зима в&nbsp;Юннани выдалась холодная и&nbsp;длинная, не&nbsp;знаю это&nbsp;ли причина, но&nbsp;урожай Белой Почки Пу&nbsp;Эра&nbsp;&mdash; один из&nbsp;самых ароматных за&nbsp;многие годы!
                .page__auth.indent-t--xl
                    p.link-2 Сегодня
                    p.text
                        span.link-2 Автор:&nbsp;
                        span Титестер
    .page.page--view--white.page--spaced
        section.section
            .section__header
                h2.h1 Чай по теме
            .container
                ul.page__taglist
                    li.page__tag
                        a.link.link--view--ghost Индия
                    li.page__tag
                        a.link.link--view--ghost Новинка
                    li.page__tag
                        a.link.link--view--ghost Кофе в капсулах
                include ../blocks/article-thematic-slider










