extends ../index-inner
include ../blocks/mixins/breadcrumbs
include ../blocks/mixins/input

block title
    title Унция — Авторизация

block content
    .page
        +breadcrumbs([
            {
                link: 'main.html',
                title: 'Главная'
            }
        ], 'Вход')
        h1.h1.page__title Пожалуйста, авторизуйтесь

        .page__content
            .container
                .auth
                    .auth__grid
                        .auth__login
                            h3.h3 Войти с учетной записью Унции
                            form.form.indent-t--m
                                .form__item
                                    +input({
                                        type: 'email', 
                                        placeholder: 'E-mail',
                                        className: 'input--width--available'
                                    })
                                .form__item
                                    +input({
                                        type: 'password', 
                                        placeholder: 'Пароль',
                                        className: 'input--width--available'
                                    })
                                .form__item.form__buttons
                                    button.button.button--view--dark Войти
                                    button.button.button--view--link2.indent-l--l Я забыл пароль

                            .auth__social.indent-t--4xl
                                h3.h3.indent-b--m Войти как пользователь
                                ul.auth__social-list
                                    li.auth__social-item
                                        a.icon-plus
                                            .icon-plus__icon.indent-r--s
                                                .auth__social-icon
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.2698 14c.7654 0 .7654-1.0889.7654-1.5556 0-.7777.7655-1.5555 1.531-1.5555.7654 0 2.0667 1.3222 3.0618 2.3333.7655.7778.7655.7778 1.531.7778h2.2953s1.5309-.0778 1.5309-1.5556c0-.4666-.5347-1.3222-2.2953-3.111-1.5309-1.5556-2.2964-.7778 0-3.889 1.3779-1.9433 2.4495-3.6555 2.2953-4.1222C22.8321.8567 18.9293.0778 18.3935.779c-1.5309 2.3322-1.8371 2.8767-2.2964 3.8878C15.3316 6.2234 15.254 7 14.5662 7c-.6889 0-.7655-1.4778-.7655-2.3333 0-2.5667.3827-4.3556-.7655-4.6667h-2.2964C9.5141 0 8.4424.7789 8.4424.7789s-.9174.7767-.7654.7767c.2296 0 1.5309-.31 1.5309.7777V3.889S9.2079 7 8.4424 7C7.677 7 6.146 3.8889 4.6162 1.5556c-.537-.9323-.7666-.7767-1.531-.7767H.7878c-.7643 0-.8409.5433-.7643.7767 1.531 3.8888 2.6026 6.3 5.5114 9.4111 2.678 2.8 4.4386 2.9555 5.9706 3.0333h.7644z" fill="#543019"/></svg>
                                            .icon-plus__block
                                                p.h4 Vkontakte
                                    li.auth__social-item
                                        a.icon-plus
                                            .icon-plus__icon.indent-r--s
                                                .auth__social-icon
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M11 7.7713H7.2538V5.2804c0-.9355.612-1.1536 1.0423-1.1536h2.6436V.0145L7.2989 0C3.2572 0 2.3374 3.0672 2.3374 5.03v2.7413H0v4.2376h2.3374V24h4.9164V12.0089h3.3174L11 7.7713z" fill="#543019"/></svg>
                                            .icon-plus__block
                                                p.h4 Facebook
                            .auth__disclaimer.link-2.indent-b--4xl Входя как пользователь социальных сетей вы автоматически соглашаетесь с политикой конфиденциальности


                        .auth__reg-block
                            .reg-block
                                h3.h3 Еще не зарегистрированы?
                                p.link-2.indent-t--m Получайте бонусы, экономьте деньги и время при следующих покупках. Регистрация займет всего пару минут.
                                button.button.button--view--dark.indent-t--l Зарегистрироваться

