extends ../index-inner
include ../blocks/mixins/breadcrumbs
include ../blocks/mixins/taste-item
include ../blocks/mixins/catalog-banner
include ../blocks/mixins/catalog
include ../blocks/mixins/plate
include ../blocks/mixins/keep
include ../blocks/mixins/option
include ../blocks/mixins/taste-option
include ../blocks/mixins/degustation
include ../blocks/mixins/item-gallery

block title
    title Унция — Каталог чай

block content
    .page
        +breadcrumbs([
            {
                link: 'main.html',
                title: 'Главная'
            },
            {
                link: 'catalog-tea.html',
                title: 'Каталог'
            }
        ], 'Улун')
        .page__title
            h1.h1 Да Хун Пао
            .page__title-rates 
                a.page__title-rate.indent-r--m
                    .icon-plus
                        .icon-plus__icon.indent-r--2xs
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 12.75l-4.996 2.627.954-5.564-4.042-3.94 5.586-.811L8.5 0l2.498 5.062 5.586.811-4.042 3.94.954 5.564L8.5 12.75z" fill="#543019"/></svg>
                        .icon-plus__block 
                            .link-2 4.5
                a.page__title-comments
                    .icon-plus
                        .icon-plus__icon.indent-r--2xs
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.366 0H2.634C1.179 0 0 1.273 0 2.843v6.624c0 1.57 1.179 2.843 2.634 2.843h.468V16l4.822-3.69h7.442C16.82 12.31 18 11.038 18 9.467V2.843C18 1.273 16.821 0 15.366 0z" fill="#543019"/></svg>
                        .icon-plus__block 
                            .link-2 22
        .page__content
            .container
                .catalog-card

                    .catalog-card__inner
                        .catalog-card__preview
                            +item-gallery({items: [
                                {
                                    img: 'slide-1.jpg',
                                    imgThumb: 'slide-1.jpg'
                                },
                                {
                                    img: 'dahongpao.jpg',
                                    imgThumb: 'dahongpao.jpg'
                                },
                                {
                                    img: 'slide-3.jpg',
                                    imgThumb: 'slide-3.jpg'
                                }
                            ]})
                        .catalog-card__details
                            .catalog-card__detail-block
                                .catalog-card__status.icon-plus.icon-plus--vertical-align--baseline
                                    .icon-plus__icon.indent-r--3xs
                                        img(src="../images/static/hit.png")
                                    .icon-plus__block Хит продаж

                                p.text Да Хун Пао – (кит. 大红袍; dàhóng páo; букв. «Большой красный халат») – прославленный утесный улун, который производят в горах Уи на северо-западе провинции Фуцзянь.
                            .catalog-card__detail-block.catalog-card__consists
                                .consists
                                    .consists__head
                                        p.h4 Состав
                                        a.link-2.link--view--ghost.consists__more Всего 10
                                    ul.consists__list
                                        li.consists__item
                                            .icon-plus.icon-plus--layout--vertical
                                                .icon-plus__icon
                                                    .consists__image
                                                        img(src="../images/content/ejevika.png")
                                                .icon-plus__block Ежевика
                                        li.consists__item
                                            .icon-plus.icon-plus--layout--vertical
                                                .icon-plus__icon
                                                    .consists__image
                                                        img(src="../images/content/veresk.png")
                                                .icon-plus__block Вереск цветы
                                        li.consists__item
                                            .icon-plus.icon-plus--layout--vertical
                                                .icon-plus__icon
                                                    .consists__image
                                                        img(src="../images/content/mojj.png")
                                                .icon-plus__block Лист можжевельника <br>зеленый
                            .catalog-card__detail-block
                                .catalog-card__options
                                    ul.options
                                        li.options__item
                                            +option({
                                                label: 'Страна',
                                                value: 'Китай',
                                                small: true
                                            })
                                        li.options__item
                                            +option({
                                                label: 'Вид чая',
                                                value: 'Улун',
                                                small: true
                                            })
                                        li.options__item
                                            +option({
                                                label: 'Вкус чая',
                                                value: 'Древесный, Ореховый',
                                                small: true
                                            })

                        .catalog-card__prices
                            p.catalog-card__price
                                span.catalog-card__price-value.h1 815
                                span.catalog-card__price-measure.h4 Р/унция
                            p.link-2.indent-t--xs ~ 35 чашек
                            form.form.indent-t--m
                                .form__item
                                    label.radio
                                        input.radio__control(type="radio" name="radio-item-pack" checked="checked")
                                        .radio__box
                                        span.radio__text.text Рассыпной
                                .form__item
                                    label.radio
                                        input.radio__control(type="radio" name="radio-item-pack")
                                        .radio__box
                                        span.radio__text.text Пирамидки
                                .form__item
                                    label.radio
                                        input.radio__control(type="radio" name="radio-item-pack")
                                        .radio__box
                                        span.radio__text.text Пакет 0,5 кг

                            .catalog-card__status.icon-plus.indent-t--m
                                .icon-plus__icon.indent-l--3xs.indent-r--s
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" fill="none"><path d="M0 4.765l.789-.7998 3.867 2.2715L11.324 0 12 .6654 4.9475 10 0 4.765z" fill="#A5A5A5"/></svg>
                                .icon-plus__block В наличии&nbsp;
                                    a.link-2.link-2--dark в 37 магазинах
                            .catalog-card__status.icon-plus.indent-t--2xs
                                .icon-plus__icon.indent-r--xs
                                    <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.3499 7.36941L14.8175 12.0338C15.4927 12.1799 16 12.7818 16 13.5C16 14.3269 15.3271 15 14.5 15C13.6731 15 13 14.3269 13 13.5C13 12.9606 13.2863 12.4866 13.7151 12.2222L13.2415 7.49738C10.4614 8.07934 8.36698 10.5495 8.36698 13.5C8.36698 16.8817 11.118 19.6326 14.4999 19.6326C17.8818 19.6326 20.6328 16.8817 20.6328 13.5002C20.6328 10.1188 17.8815 7.36761 14.4999 7.36761C14.4498 7.36761 14.3998 7.36821 14.3499 7.36941ZM14.4696 13.9239L14.6397 13.9015C14.5959 13.9167 14.5489 13.925 14.5 13.925C14.4898 13.925 14.4796 13.9247 14.4696 13.9239ZM14.4999 6C14.4039 6 14.3083 6.00181 14.2132 6.00541L13.7171 1.05694C13.7027 0.912321 13.6453 0.777775 13.5552 0.675606C13.0449 0.0978488 11.6455 -0.597906 10 0.901289L10.6931 1.90067C11.6741 1.00706 12.3541 1.27567 12.6376 1.47257L12.7856 2.94935C11.1742 2.87246 8.03218 3.14946 6.35902 6.15935C6.05161 6.71236 5.75999 7.21699 5.48932 7.68539L5.48926 7.68549C4.40595 9.56011 3.65801 10.8544 3.57495 12.3473L3.57493 12.3476C3.56138 12.5913 3.54837 12.8252 3.53301 13.0474C3.35999 13.0163 3.18186 13 3 13C1.34576 13 0 14.3458 0 16.0001C0 17.6544 1.34576 19 3 19C4.65424 19 6 17.6544 6 16.0001C6 14.9756 5.48381 14.0693 4.69784 13.5278C4.73005 13.1762 4.75059 12.8066 4.77189 12.4235L4.77191 12.4232C4.84732 11.0662 5.48539 10.0121 6.37594 8.54081L6.37595 8.5408C6.68749 8.0261 7.02994 7.46035 7.39001 6.81273C8.73287 4.39742 11.495 4.17435 12.9144 4.23466L13.1044 6.13016C9.63338 6.78596 7 9.84132 7 13.5C7 17.6354 10.3645 21 14.4999 21C18.6355 21 22 17.6354 22 13.5C22 9.36462 18.6355 6 14.4999 6ZM4.45436 14.9055C4.68443 15.2104 4.82099 15.5897 4.82099 16.0003C4.82099 17.0042 4.00406 17.8214 3 17.8214C1.99594 17.8214 1.17901 17.0044 1.17901 16.0003C1.17901 14.996 1.99594 14.1791 3 14.1791C3.13396 14.1791 3.26459 14.1936 3.39039 14.2212C3.32155 14.5412 3.22337 14.8059 3.07593 15.0029C3.05086 15.001 3.02554 15 3 15C2.44867 15 2 15.4485 2 16.0001C2 16.5515 2.44867 17 3 17C3.55133 17 4 16.5515 4 16.0001C4 15.9443 3.99541 15.8896 3.98658 15.8362C4.19788 15.5652 4.34684 15.2525 4.45436 14.9055Z" fill="#A5A5A5"/>
                                    </svg>
                                .icon-plus__block Доставим сегодня
                            .catalog-card__btns.indent-t--l2
                                button.button.button--view--dark.button--view--dark-x2
                                    .icon-plus
                                        .icon-plus__icon.indent-r--s
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="21" fill="none"><path clip-rule="evenodd" d="M15.556 20H1.4446C1.1996 20 1 19.8025 1 19.5585l.8546-12.9352c0-.244.199-.4415.4453-.4415h12.4008c.2464 0 .4453.1975.4453.4415L16 19.5585c0 .244-.1989.4415-.444.4415z" stroke="#fff" stroke-width="1.5"/><path d="M5.4117 9.6364V4.0776C5.4117 2.3781 6.7944 1 8.4997 1c1.7058 0 3.0885 1.3781 3.0885 3.0776v5.5588" stroke="#fff" stroke-width="1.5"/></svg>
                                        .icon-plus__block
                                            p.link.link--view--white В корзину
                                button.button.button--view--icon-secondary.catalog-item__fav.favorite.js-favorites-add(data-fav-id=1)
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17"><path fill="none" stroke="#552f1d" stroke-miterlimit="50" stroke-width="1.5" d="M20.998 5.395c0-1.99-1.78-4.395-4.75-4.395C13.28 1 11.5 3.93 11.5 3.93S9.72 1 6.75 1C3.78 1 2 3.405 2 5.395 2 7.385 1.629 8.823 11.499 16c9.87-7.177 9.498-8.615 9.498-10.605z"/></svg>
                            .catalog-card__btns
                                button.button.button--view--underlink.indent-l--m.js-one-click-buy-btn(data-id="one-click-buy") Купить в 1 клик
                    .catalog-card__tabs.indent-t--2xl.indent-b--4xl
                        .tabs.tabs_view_full
                            ul.tabs__list
                                li.tabs__tab.tabs__tab_view_underlink Описание
                                li.tabs__tab.tabs__tab_view_underlink Вкус
                                li.tabs__tab.tabs__tab_view_underlink География
                                li.tabs__tab.tabs__tab_view_underlink Здоровье
                                li.tabs__tab.tabs__tab_view_underlink Заваривать и хранить
                                li.tabs__tab.tabs__tab_view_underlink Дегустация
                                li.tabs__tab.tabs__tab_view_underlink Отзывы
                    .catalog-card__content(id="card-desc")
                        .catalog-card__description
                            h3.h3.indent-b--l2 Выберите чайную основу — купаж на основе черного чая, зеленого чая или без чая — травяные и фруктовые сборы. Ищите нужный ингредиент в облаке и переходите в каталог на подборку чаев с вашими ингредиентами.
                            p.text Драгоценные мои друзья! Ни за что не угадаете, чем я только что отобедал! И хотя описывать содержимое своей тарелки, а стало быть, и желудка – занятие не совсем приличное, я все же не могу удержаться, и сейчас вы сами поймете, отчего. Итак, я в Янгоне, в Британской Бирме, или, как здешние жители сами ее называют, Бама, и только что с большим аппетитом и удовольствием оттрапезничал… чаем.
                            p.text О, кажется, я вас не удивил! Вы, должно быть, вообразили себе, что бедный сэр Генри опять на голодном пайке. Влачится где-то по свету, не имея возможности порядочно поесть в каком-нибудь отеле или благословенной закусочной, и всего-то ему и остается, что развести костерок, вытащить из походного саквояжа свой медный маленький чайник, и если не утолить, то хотя бы заглушить голод очередной – одной из сотен тысяч – чашкой чаю…
                        .catalog-card__article
                            .aside-article
                                .aside-article__inner
                                    .aside-article__img
                                        img(src="../images/content/sir.jpg", alt="")
                                    .aside-article__content
                                        p.h2.indent-b--l Легенда о чае Gaba
                                        .aside-article__text.cap.indent-b--m Название этого знаменитого китайского улуна переводится весьма необычно&nbsp;&mdash; &laquo;Большой красный халат&raquo;. Согласно легенде, во&nbsp;времена династии Мин, в&nbsp;конце XIV&nbsp;столетия, студент по&nbsp;имени Дин Сянь поехал сдавать императорские экзамены, но&nbsp;в&nbsp;дороге почувствовал себя плохо. Юношу лихорадило, мысли путались, от&nbsp;усталости он&nbsp;не&nbsp;мог стоять на&nbsp;ногах...
                                    a.link-2.link--view--ghost(href="#") Подробнее
                    .catalog-card__slider.indent-b--5xl
                        .catalog-card__slider-wrap
                            include ../blocks/catalog-slider
                        .catalog-card__slider-desc
                            h3.h3.catalog-card__aside-title Выберите чайную основу — купаж на основе черного чая, зеленого чая или без чая.
                            p.text О да, признаюсь, что подобных трапез было немало в течение моего столь затянувшегося путешествия.

                    section.section.catalog-card__taste.indent-b--4xl

                        .section__header
                            h2.h1 Вкус
                        .catalog-card__taste-inner.indent-t--2xl
                            .catalog-card__taste-content
                                .catalog-card__options
                                    ul.options
                                        li.options__item
                                            +option({
                                                label: 'Вид чая',
                                                value: 'Зелёный',
                                                href: '#'
                                            })
                                        li.options__item
                                            +option({
                                                label: 'Страна',
                                                value: 'Китай',
                                                href: '#'
                                            })
                                        li.options__item
                                            +option({
                                                label: 'Состав',
                                                value: 'Белый чай',
                                                href: '#'
                                            })
                                        li.options__item
                                            +option({
                                                label: 'Вкус чая',
                                                value: 'Травяной, цветочный',
                                                href: '#'
                                            })
                                        li.options__item
                                            +option({
                                                label: 'Нота',
                                                value: 'Орхидея, виноград',
                                                href: '#'
                                            })


                                .catalog-card__tastes
                                    ul.cat-tastes
                                        li.cat-tastes__item
                                            +taste-option({
                                                image: 'cont-banana.png',
                                                value: 'Банан'
                                            })
                                        li.cat-tastes__item
                                            +taste-option({
                                                image: 'cont-lemon.png',
                                                value: 'Лимон'
                                            })
                                        li.cat-tastes__item
                                            +taste-option({
                                                image: 'cont-lime.png',
                                                value: 'Лайм'
                                            })
                                        li.cat-tastes__item
                                            +taste-option({
                                                image: 'cont-black.png',
                                                value: 'Черника'
                                            })
                                        li.cat-tastes__item
                                            +taste-option({
                                                image: 'cont-hybiscus.png',
                                                value: 'Гибискус'
                                            })
                                        li.cat-tastes__item
                                            +taste-option({
                                                image: 'cont-granat.png',
                                                value: 'Гранат'
                                            })
                                        li.cat-tastes__item
                                            +taste-option({
                                                image: 'cont-tea.png',
                                                value: 'Чай чёрный'
                                            })
                                p.link-2.indent-b--l2 Синий чай&nbsp;&mdash; это напиток из&nbsp;высушенных бутонов клитории тройчатой (Clitoria ternatea). Это травяной чай с&nbsp;удивительным набором полезных свойств и&nbsp;не&nbsp;содержащий кофеина. В&nbsp;России этот чай приобрел известность благодаря Таиланду, поэтому у&nbsp;нас его знают больше как тайский синий чай или анчан, но&nbsp;произрастает он&nbsp;на&nbsp;всей территории Юго- Восточной Азии.

                            .catalog-card__taste-aside
                                h3.h2 Идеальное сочетание
                                .card.card--border--around.additional-buy.indent-t--m
                                    .card__content.card__content--distribute--center.additional-buy__inner
                                        .additional-buy__image
                                            img(src='../images/static/jam.png')
                                        h4.h4.indent-t--2xs Джем &laquo;Апельсин&mdash;грейпфрут&mdash;клюква&raquo;
                                        p.additional-buy__price.h4
                                            span.additional-buy__value 2 508
                                            span.additional-buy__measure Р/унция
                                            span.additional-buy__tip ?
                                        button.button.button--view--dark.button--view--dark-x2.indent-t--s
                                            .icon-plus
                                                .icon-plus__icon.indent-r--s
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="21" fill="none"><path clip-rule="evenodd" d="M15.556 20H1.4446C1.1996 20 1 19.8025 1 19.5585l.8546-12.9352c0-.244.199-.4415.4453-.4415h12.4008c.2464 0 .4453.1975.4453.4415L16 19.5585c0 .244-.1989.4415-.444.4415z" stroke="#fff" stroke-width="1.5"/><path d="M5.4117 9.6364V4.0776C5.4117 2.3781 6.7944 1 8.4997 1c1.7058 0 3.0885 1.3781 3.0885 3.0776v5.5588" stroke="#fff" stroke-width="1.5"/></svg>
                                                .icon-plus__block
                                                    p.link.link--view--white В корзину

                        .catalog-card__tea-circle.indent-b--3xl
                            include ../blocks/tea-circle

                    .catalog-card__slider.indent-b--5xl
                        .catalog-card__slider-desc
                            h3.h3.catalog-card__aside-title Выберите чайную основу — купаж на основе черного чая, зеленого чая или без чая.
                            p.text О да, признаюсь, что подобных трапез было немало в течение моего столь затянувшегося путешествия.
                        .catalog-card__slider-wrap
                            include ../blocks/catalog-slider-2
                    section.section.geography.indent-b--5xl

                        .section__header.indent-b--3xl
                            h2.h1 География
                        .catalog-card__geography
                            include ../blocks/geography
                    section.section.health.indent-b--5xl

                        .section__header
                            h2.h1 Здоровье и&nbsp;&laquo;Чайное&nbsp;состояние&raquo;
                        .health__grid
                            .health__grid-item.health__features
                                .icon-plus
                                    .icon-plus__block
                                        h3.h2 Успокаивает нервы, настраивает&nbsp;на&nbsp;мечтательный лад
                                        h4.h3.indent-t--l2 Тонизирующий эффект
                                    .icon-plus__icon.indent-r--m
                                        img(src="../images/static/dirijable.png")
                            .health__grid-item.health__content
                                p.text Драгоценные мои друзья! Ни&nbsp;за&nbsp;что не&nbsp;угадаете, чем я&nbsp;только что отобедал! И&nbsp;хотя описывать содержимое своей тарелки, а&nbsp;стало быть, и&nbsp;желудка&nbsp;&mdash; занятие не&nbsp;совсем приличное, я&nbsp;все&nbsp;же не&nbsp;могу удержаться, и&nbsp;сейчас вы&nbsp;сами поймете, отчего. Итак, я&nbsp;в&nbsp;Янгоне, в&nbsp;Британской Бирме, или, как здешние жители сами ее&nbsp;называют, Бама, и&nbsp;только что с&nbsp;большим аппетитом и&nbsp;удовольствием оттрапезничал... чаем.
                                button.button.button--view--underlink.indent-t--xs Как чай влияет на здоровье
                    section.section.indent-b--5xl

                        .section__header
                            h2.h1 Заваривать и хранить
                        +keep()
                    section.section.indent-b--5xl

                        .section__header.indent-b--2xl
                            h2.h1 Дегустации
                        +degustation({
                            image: 'degustation.jpg',
                            title: 'Ближайшая дегустация<em>&nbsp;Gaba чай</em>',
                            vacant: 34,
                            when: 'Среда 19 августа, 19:00',
                            where: 'Невский проспет 63, магазин Унция',
                            indentClass: 'indent-b--5xl'
                        })
                        include ../blocks/degustation-form
                        include ../blocks/degustations
                    section.section.indent-b--5xl

                        .section__header.indent-b--2xl
                            h2.h1 Отзывы
                        include ../blocks/reviews
                    section.section

                        .section__header.indent-b--2xl
                            h2.h1 Унция&nbsp;
                                em рекомендует
                        +catalog({
                            indentClass: 'indent-b--4xl',
                            number: 4
                        })
                        .cardlist.cardlist--2col
                            .cardlist__item
                                +plate({
                                    image: 'plate-3.jpg',
                                    title: 'Зеленый вкуснее весной',
                                    qty: '15 видов'
                                })
                            .cardlist__item
                                +plate({
                                    image: 'plate-4.jpg',
                                    title: 'Рождественские вечера',
                                    qty: '15 видов'
                                })
                        button.button--view--link.indent-t--2xl.indent-h--a Все подборки