extends ../index
include ../blocks/mixins/breadcrumbs
include ../blocks/mixins/option 
include ../blocks/mixins/item-gallery 
include ../blocks/mixins/degustation

block title
    title Унция — Список страниц

block content
    .page.page-no-pads
        
        h1.h1.page__title Список страниц
        .page__content
            .container
                p.h2.indent-b--s Страницы: готовые, близкие к готовым
                .pages-list
                    a(href="main.html" target="_blank") Главная
                    a(href="catalog-tea.html" target="_blank") Каталог чай
                    a(href="catalog-card.html" target="_blank") Карточка чай
                    a(href="catalog-card-coffee.html" target="_blank") Карточка кофе
                    a(href="articles.html" target="_blank") Статьи. Список
                    a(href="article.html" target="_blank") Статьи. Детальная
                    a(href="lk-order-history.html" target="_blank") Личный кабинет. История заказов
                    a(href="lk-personal-data.html" target="_blank") Личный кабинет. Персональные данные
                    a(href="lk-cards.html" target="_blank") Личный кабинет. Карта «Унция»
                    a(href="lk-favorites.html" target="_blank") Личный кабинет. Избранное
                    a(href="lk-teatester.html" target="_blank") Личный кабинет. Teatester
                    a(href="register.html" target="_blank") Личный кабинет. Регистрация
                    a(href="auth.html" target="_blank") Личный кабинет. Авторизация
                    a(href="stores.html" target="_blank") Магазины. Все
                    a(href="store-detail.html" target="_blank") Магазины. Детальная
                    a(href="teatester-notes.html" target="_blank") Блокнот титестера
                    a(href="recommend.html" target="_blank") Титестер рекомендует
                    a(href="actions-sales.html" target="_blank") Акции. Скидки и подарки
                    a(href="actions-card.html" target="_blank") Акции. Карта «Унция»
                    a(href="library.html" target="_blank") Библиотека. Список
                    a(href="cart.html" target="_blank") Корзина
                    a(href="cart-order.html" target="_blank") Корзина. Оформление заказа
                    a(href="compilation.html" target="_blank") Подборки
                    a(href="compilation-detail.html" target="_blank") Подборки. Детальная