extends ../index-inner
include ../blocks/mixins/breadcrumbs
include ../blocks/mixins/lib-card

block title
    title Унция — Библиотека

block content
    .page
        +breadcrumbs([
            {
                link: 'main.html',
                title: 'Главная'
            }
        ], 'Библиотека')
        h1.h1.page__title Библиотека

        .page__content
            .container
                .lib
                    .lib__inner
                        .lib__col
                            .lib__card
                                +lib-card({
                                    title: 'Чай',
                                    text: 'Любезные мои друзья, и снова я отправляю вам кусок бумаги с некоторым количеством слов, силящихся отразить.',
                                    image: 'lib-light.jpg',
                                    list: [
                                        {
                                            title: 'Как заваривать чай удобно?',
                                            href: '#'
                                        },
                                        {
                                            title: 'Правила заваривания чая',
                                            href: '#'
                                        },
                                        {
                                            title: 'Чайные церемонии',
                                            href: '#'
                                        },
                                        {
                                            title: 'Почему важно вынимать листья чая из настоя',
                                            href: '#'
                                        },
                                        {
                                            title: 'Как хранить чай?',
                                            href: '#'
                                        },
                                    ]
                                })
                            .lib__card.lib__card_view_dark
                                +lib-card({
                                    view: 'dark',
                                    title: 'Сладости',
                                    text: 'Любезные мои друзья, и снова я отправляю вам кусок бумаги с некоторым количеством слов, силящихся отразить.',
                                    image: 'lib-dark.jpg',
                                    list: [
                                        {
                                            title: 'Как заваривать чай удобно?',
                                            href: '#'
                                        },
                                        {
                                            title: 'Классификация чая',
                                            href: '#'
                                        },
                                        {
                                            title: 'История чая',
                                            href: '#'
                                        },
                                        {
                                            title: 'Правила заваривания чая. Чайные церемонии',
                                            href: '#'
                                        },
                                        {
                                            title: 'Полезные свойства чая',
                                            href: '#'
                                        },
                                        {
                                            title: 'Китайский чай. обзор. как быстро разбираться ',
                                            href: '#'
                                        },
                                        {
                                            title: 'Этапы обработки чайного листа',
                                            href: '#'
                                        },
                                        {
                                            title: 'Трансформация арома сухой завар листья арома настоя и вкус.' ,
                                            href: '#'
                                        },
                                        {
                                            title: 'Зелёный с лотосом.',
                                            href: '#'
                                        },
                                        {
                                            title: 'Китайские слова в названии чаёв. Хуан. Фен. Оранж. Юн. Ву. Хо. Кимун',
                                            href: '#'
                                        },
                                        {
                                            title: 'Что значат цифры в названии кимунов',
                                            href: '#'
                                        },
                                        {
                                            title: 'Ройбуши',
                                            href: '#'
                                        },
                                        {
                                            title: 'Кофеин. Где больше в чае или кофе. Что такое теин. Полезен он или вреден',
                                            href: '#'
                                        },
                                    ]
                                })
                        .lib__col
                            .lib__card.lib__card_view_dark
                                +lib-card({
                                    view: 'dark',
                                    title: 'Кофе',
                                    text: 'Любезные мои друзья, и снова я отправляю вам кусок бумаги с некоторым количеством слов, силящихся отразить.',
                                    image: 'lib-dark.jpg',
                                    list: [
                                        {
                                            title: 'Как заваривать чай удобно?',
                                            href: '#'
                                        },
                                        {
                                            title: 'Классификация чая',
                                            href: '#'
                                        },
                                        {
                                            title: 'История чая',
                                            href: '#'
                                        },
                                        {
                                            title: 'Правила заваривания чая',
                                            href: '#'
                                        },
                                        {
                                            title: 'Чайные церемонии',
                                            href: '#'
                                        },
                                        {
                                            title: 'История чая',
                                            href: '#'
                                        },
                                    ]
                                })
                            .lib__card
                                +lib-card({
                                    title: 'Посуда',
                                    text: 'Любезные мои друзья, и снова я отправляю вам кусок бумаги с некоторым количеством слов, силящихся отразить.',
                                    image: 'lib-light.jpg',
                                    list: [
                                        {
                                            title: 'Как заваривать чай удобно?',
                                            href: '#'
                                        },
                                        {
                                            title: 'Правила заваривания чая',
                                            href: '#'
                                        },
                                        {
                                            title: 'Чайные церемонии',
                                            href: '#'
                                        },
                                        {
                                            title: 'Почему важно вынимать листья чая из настоя',
                                            href: '#'
                                        },
                                        {
                                            title: 'Как хранить чай?',
                                            href: '#'
                                        },
                                    ]
                                })



