extends ../index-inner
include ../blocks/mixins/breadcrumbs
include ../blocks/mixins/teatester-note

block title
    title Унция — Блокнот титестера

block content
    .page
        +breadcrumbs([
            {
                link: 'main.html',
                title: 'Главная'
            }
        ], 'Блокнот титестера')
        h1.h1.page__title Блокнот титестера
        .page__content
            .container
                .notes
                    .notes__inner
                        .notes__bio.indent-b--xl
                            .icon-plus.icon-plus--layout--vertical
                                .icon-plus__icon.indent-b--s
                                    .notes__bio-img
                                        img(src="../images/content/teatester-author.jpg", alt="")
                                .icon-plus__block
                                    h2.h2 Евгений Журов
                        .notes__list
                            .notes__item
                                +teatester-note({
                                    date: '27 июня ‘19',
                                    image: 'teatester-img-1.png',
                                    cat: 'Зеленый чай',
                                    href: '#',
                                    name: 'Сокровища Шаолиня',
                                    notes: 'Луговые цветы',
                                    rate: '4,3',
                                    text: 'Зеленый чай — большой и стабильный рынок, никаких сюрпризов закупка не преподнесла. Китай богатеет, молодежь устремляется в города, в провинции Юннань невысокая плотность населения и рождаемость, да и в целом больше возможностей заработать на Пу Эре. Никто уже не хочет скручивать вручную листья, при обилии других методов.'
                                })
                            .notes__item
                                +teatester-note({
                                    date: '27 июня ‘19',
                                    image: 'teatester-img-1.png',
                                    cat: 'Зеленый чай',
                                    href: '#',
                                    name: 'Да Хун Пао',
                                    notes: 'Луговые цветы',
                                    rate: '4,3',
                                    text: 'В прошлом году мы провели слепой тест качества китайских чаев и пристально изучили темные улуны. Да Хун Пао — это огромное количество стилей, они зависят от способа обработки. У нас в продаже с более сильной прожаркой. В этом году у нас новичок — менее прожаренный Да Хун Пао (Чжун Хо) — про него будет отдельная статья, когда он появится в магазинах. Мы уверены, что закупили образцы, подходящие под критерии, выявленные в ходе нашего исследования. В самом Китае популярность светлых улунов сейчас падает, после взрывного роста в конце 90х – начале 00х. Это из-за большого количества некачественного чая, наводнившего рынок.'
                                })
                            .notes__item
                                +teatester-note({
                                    date: '27 июня ‘19',
                                    image: 'teatester-img-1.png',
                                    cat: 'Зеленый чай',
                                    href: '#',
                                    name: 'Тайму Шань Бай Хоу',
                                    notes: 'Луговые цветы',
                                    rate: '4,3',
                                    text: 'Драгоценные мои друзья! Ни за что не угадаете, чем я только что отобедал! И хотя описывать содержимое своей тарелки, а стало быть, и желудка — занятие не совсем приличное, я все же не могу удержаться, и сейчас вы сами поймете, отчего. Итак, я в Янгоне, в Британской Бирме, или, как здешние жители сами ее называют, Бама, и только что с большим аппетитом и удовольствием оттрапезничал... чаем.'
                                })
                            .notes__item
                                +teatester-note({
                                    date: '27 июня ‘19',
                                    image: 'teatester-img-1.png',
                                    cat: 'Зеленый чай',
                                    href: '#',
                                    name: 'Сокровища Шаолиня',
                                    notes: 'Луговые цветы, Горные цветы, Сухофрукты, Мята',
                                    rate: '4,3',
                                    text: 'Драгоценные мои друзья! Ни за что не угадаете, чем я только что отобедал! И хотя описывать содержимое своей тарелки, а стало быть, и желудка — занятие не совсем приличное, я все же не могу удержаться, и сейчас вы сами поймете, отчего. Итак, я в Янгоне, в Британской Бирме, или, как здешние жители сами ее называют, Бама, и только что с большим аппетитом и удовольствием оттрапезничал... чаем.'
                                })
                                
