.geography
    .geography__grid
        .geography__image
            img(src="../images/content/geo-image.jpg")
        .geography__map#tea-map
        .geography__content
            .geography__info-row
                .geography__info.labeled-by
                    a.labeled-by__value.h4 Китай
                    .labeled-by__label.geography__info-label Страна
                .geography__info.labeled-by
                    a.labeled-by__value.h4 Хуаньшань
                    .labeled-by__label.geography__info-label Провинция
                .geography__info.labeled-by
                    a.labeled-by__value.h4 Хунань
                    .labeled-by__label.geography__info-label Провинция
                .geography__info.labeled-by
                    a.labeled-by__value.h4 1000-2000 м
                    .labeled-by__label.geography__info-label Высота произрастания
                .geography__info.labeled-by
                    a.labeled-by__value.h4 Весна
                    .labeled-by__label.geography__info-label Время сбора
                .geography__info.labeled-by
                    a.labeled-by__value.h4 Продольная
                    .labeled-by__label.geography__info-label Скрутка
                .geography__info.labeled-by
                    a.labeled-by__value.h4 Сильная
                    .labeled-by__label.geography__info-label Ферментация
            h3.h3.geography__info-title Штат Ассам располагается на&nbsp;северо-востоке Индии, у&nbsp;основания Восточных Гималаев.
            p.geography__info-text.text Штат Ассам располагается на&nbsp;северо-востоке Индии, у&nbsp;основания Восточных Гималаев. Большая часть чайных плантаций прилегает к&nbsp;верхней части полноводных рек Брахмапутра и&nbsp;Сурма&nbsp;&mdash; благодаря повышенной влажности в&nbsp;сочетании с&nbsp;жарким субтропическим климатом производимый здесь чай обретает уникальные свойства.
            p.geography__info-text.text На&nbsp;равнинных землях Ассама произрастает неприхотливое чайное дерево, приносящее волшебные, покрытые серебристыми ворсинками, листья. Самыми ценными становятся листья, собранные летом, так как они крупнее, чем осенние. Здесь производится половина всего выпускаемого в&nbsp;Индии чая, популярного во&nbsp;всем мире. Он&nbsp;нежнее традиционных цейлонских чаев, обладает рядом свойств.
