include mixins/keep-slide
.swiper-container.keep-slider
    .swiper-wrapper
        .swiper-slide.keep-slider__item
            +keep-slide({
                image: 'pot-green.png',
            })
        .swiper-slide.keep-slider__item
            +keep-slide({
                image: 'pot-green.png',
            })
        .swiper-slide.keep-slider__item
            +keep-slide({
                image: 'pot-green.png',
            })