.lk-card.indent-b--l2
    .lk-card__inner
        .lk-card__image
            img(src="../images/content/gold-card.png")
        .lk-card__content
            .labeled-by.indent-b--l
                .labeled-by__value
                    h2.h2 
                        | Золотая карта &laquo;Унция&raquo;
                .labeled-by__label.lk-card__label
                    p.text Ваша карта
            .lk-card__params.indent-b--xl
                .labeled-by
                    .labeled-by__value.h4 00564758
                    .labeled-by__label.lk-card__label Номер карты
                .labeled-by
                    .labeled-by__value.h4 7 унций / 2 456 Р
                    .labeled-by__label.lk-card__label Ваши накопления
                .labeled-by
                    .labeled-by__value.h4 3 %
                    .labeled-by__label.lk-card__label Ваша скидка
            .lk-card__info
                .lk-card__more
                    .icon-plus
                        .icon-plus__block 
                            .link Подробнее о скидках
                        .icon-plus__icon.indent-l--2xs
                            <svg xmlns="http://www.w3.org/2000/svg" width="7" height="5"><path fill="#543019" d="M3.5 5L0 0h7z"/></svg>
                .lk-card__suggest Сделайте покупку на 547 рублей и получите 6% скидку
    .lk-card__inner
        .lk-card__desc
            .lk-card__row.indent-b--l2
                .lk-card__item.is-active
                    .labeled-by
                        .labeled-by__value.h4 1 500 Р
                        .labeled-by__label.lk-card__label Накопления
                    .labeled-by
                        .labeled-by__value.h4 3%
                        .labeled-by__label.lk-card__label Ваша скидка
                .lk-card__item
                    .labeled-by
                        .labeled-by__value.h4 3 000 Р
                        .labeled-by__label.lk-card__label Накопления
                    .labeled-by
                        .labeled-by__value.h4 6%
                        .labeled-by__label.lk-card__label Ваша скидка
                .lk-card__item
                    .labeled-by
                        .labeled-by__value.h4 6 000 Р
                        .labeled-by__label.lk-card__label Накопления
                    .labeled-by
                        .labeled-by__value.h4 10%
                        .labeled-by__label.lk-card__label Ваша скидка
            .lk-card__contents
                ul
                    li Карта дает право на&nbsp;получение скидки в&nbsp;соответствии с&nbsp;накоплением в&nbsp;магазинах и&nbsp;интернет-магазине &laquo;Унция&raquo;;
                    li Карта выдается при единовременной покупке от&nbsp;1500&nbsp;рублей;
                    li Карта является накопительной;
                    li Скидки за&nbsp;накопления по&nbsp;карте:
                        | 3% от 1500 рублей;
                        | 6% от 3000 рублей;
                        | 10% от 6000 рублей;
                    li При получении карты, первая покупка начисляется на&nbsp;карту;
                    li Скидка не&nbsp;распространяется на&nbsp;первую покупку и&nbsp;начинается действовать со&nbsp;второй и&nbsp;при следующих покупках по&nbsp;карте;
                    li Карта является именной и&nbsp;в&nbsp;случае утери ее&nbsp;можно восстановить в&nbsp;магазине;
                    li Карту необязательно носить с&nbsp;собой, на&nbsp;кассе достаточно сообщить номер телефона, к&nbsp;которому привязана карта;
                    li Если Вы&nbsp;не&nbsp;совершаете покупок по&nbsp;карте в&nbsp;течение двух лет&nbsp;&mdash; её&nbsp;действие ограничивается. По&nbsp;карте по-прежнему будет предоставляться скидка, ограничения коснутся лишь дополнительных привилегий (например, подарок на&nbsp;День Рождения). Для снятия ограничений достаточно совершить покупку на&nbsp;любую сумму.
            .lk-card__more
                .icon-plus.icon-plus--distribute--center
                    .icon-plus__block 
                        .link Подробнее о скидках
                    .icon-plus__icon.indent-l--2xs
                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="5"><path fill="#543019" d="M3.5 5L0 0h7z"/></svg>
.lk-card__showall
    button.button.button--view--dark.indent-h--a Показать все карты

