.lk__subscript
    .lk-subscript
        .lk-subscript__inner
            form.lk-subscript__form.indent-b--2xl(action="/")
                p.h3 Скидки, распродажи, обзоры
                p.h3 Актуальные напоминания