.side-menu
  .side-menu__inner
    .side-menu__block
      .view-mobile
        .side-menu__collapse.js-side-menu.link История заказов
      ul.side-menu__list
        li.side-menu__item
          a.side-menu__link.link(href="/pages/lk-order-history.html")
            | История заказов
        li.side-menu__item
          a.side-menu__link.link(href="/pages/lk-personal-data.html")
            | Персональные данные
        li.side-menu__item
          a.side-menu__link.link(href="/pages/lk-cards.html")
            | Карта «Унция»
        li.side-menu__item  
          a.side-menu__link.link.is-active(href="/pages/lk-favorites.html")
            | Избранное
        li.side-menu__item  
          a.side-menu__link.link(href="/pages/lk-teatester.html")
            | Teatester
        li.side-menu__item 
          a.side-menu__link.link(href="/pages/lk-subscription.html")
            | Подписка
        li.side-menu__item  
          a.side-menu__link.link(href="/pages/lk-degustation.html")
            | Дегустации
    .side-menu__profile
      .side-menu__avatar
        img(src="../images/content/man.jpg", alt="")
      .side-menu__user
        h4.h4
          | Алексей Каренин
        a.side-menu__logout.link-2
          | Выйти
