.tea-circle
    .tea-circle__grid
        .tea-circle__grid-item.tea-circle__title
            h2.h2.indent-b--m Вкусовой профиль создан при помощи вкусового чайного круга
            a.link-2 Скачать вкусовой круг
        .tea-circle__grid-item.tea-circle__circle
            img(src="../images/static/tea-circle.png")
        .tea-circle__grid-item.tea-circle__slider
            h3.h3 Как использовать вкусовой круг?
            include mixins/tea-circle-slide
            .swiper-container.tea-circle-slider
                button.button.button--view--icon.tea-circle-slider__prev
                    <svg width="10" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.5 1.5L.7285 9.2715M8.5 16.8857L.7285 9.1143" stroke="#979797" stroke-linecap="square"/></svg>
                button.button.button--view--icon.tea-circle-slider__next
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" fill="none"><path d="M1.5 1.5l7.7715 7.7715M1.5 16.8857l7.7715-7.7714" stroke="#979797" stroke-linecap="square"/></svg>

                .swiper-wrapper
                    .swiper-slide.tea-circle-slider__item
                        +tea-circle-slide({
                            text: 'Примерно оцените, какого чай типа: фруктовый, солодовый или свежий травянистый?',
                            num: '01'
                        })
                    .swiper-slide.tea-circle-slider__item
                        +tea-circle-slide({
                            text: 'Примерно оцените, какого чай типа: фруктовый, солодовый или свежий травянистый?',
                            num: '02'
                        })
                    .swiper-slide.tea-circle-slider__item
                        +tea-circle-slide({
                            text: 'Примерно оцените, какого чай типа: фруктовый, солодовый или свежий травянистый?',
                            num: '03'
                        })

                .swiper-pagination.tea-circle-slider__pagination