include ../../blocks/mixins/catalog-item

mixin catalog(data)
    - var n = 0
    - var r = 7
    - var d = 8
    .catalog(class=data.indentClass)
        .container
            .catalog__inner(data-swiper-parallax-opacity="0")
                while n < data.number
                    .catalog__item.card.card--border--around
                        +catalog-item({
                            id: n+1,
                            image: 'Tea1.png',
                            title: 'Ягодная сангрия',
                            category: 'Чёрный чай',
                            qty: '12 чашек',
                            action: 'New',
                            types: [
                                {
                                    icon: r > 5 && n < 3 ? '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="23"><path d="M1.0438.8955s.8733.7102.2806 1.914C.7317 4.0132-.5161 5.712.2324 7.9655c.749 2.2533 4.305 3.5606 5.8333 4.5276C7.594 13.4608 9.9331 15.7142 9.9331 23h3.2123s-.9973-3.9202 2.0277-3.9202c3.0258 0 4.336 3.9202 4.336 3.9202h3.2439s-.5303-3.2107 0-5.7426c0 0 .3738.4333 1.247.4333 0 0-.5302-.4333-.9356-2.409-.4054-1.9757-2.3075-6.9947-7.3911-6.9947 0 0-1.5922 2.8586-4.6173 3.1363 0 0 3.3688-.8032 3.3688-3.6127 0-2.9628-3.6185-1.8522-3.6185-1.8522S9.8654 4.3698 7.4376 4.693c-2.0894.2784-2.6505 2.3152-4.3044 2.3152-1.6524 0-.7792-2.284-.4986-3.2107.2805-.9261.655-2.7477-.7484-3.7974l-.1564.772z" fill="#543019"/></svg>': '',
                                    iconTooltip: r > 5 && n < 3 ? 'Черный «Как раньше, со слоном»': ''
                                }, {
                                    icon: n > 3 || r > 5 ? '<svg xmlns="http://www.w3.org/2000/svg" width="18" height="26" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.7797 15.101c0-3.226-3.18-5.841-7.102-5.841-3.328 0-6.112 1.885-6.883 4.426-.025.073-.05.148-.071.228-.005.019-.008.039-.012.058-.042.166-.077.339-.098.526-.025.199-.038.4-.038.603 0 3.923 3.768 10.484 6.994 10.484s7.21-6.369 7.21-10.292c0-.032-.005-.059-.006-.092.001-.034.006-.066.006-.1z" fill="#543019"/><mask id="a" maskUnits="userSpaceOnUse" x="0" y="1" width="18" height="8"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.0002h17.0949v7.843H0v-7.843z" fill="#fff"/></mask><g mask="url(#a)"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 3.4235s1.294.547 2.771 2.935c1.476 2.387 3.426 1.986 4.191 1.895.766-.091 2.096-.292 3.554.347 1.458.637 2.734-.11 3.463-.748.729-.638 1.858-2.424 3.116-2.916 0 0-4.483-.365-6.962 1.878 0 0 .656-1.386.292-2.99-.365-1.603-.256-2.825-.256-2.825s-1.038.675-2.332 2.406c-.863 1.155-.954 1.966-.699 2.86 0 0-.121-1.344-2.545-2.258C2.619 3.2625 0 3.4235 0 3.4235z" fill="#543019"/></g><path fill-rule="evenodd" clip-rule="evenodd" d="M3.8749 14.5805c.092.541-.08 1.021-.384 1.073-.305.053-.627-.344-.72-.884-.092-.541.08-1.021.385-1.074.304-.052.626.345.719.885zM7.4364 13.1988c0 .549-.25.993-.56.993-.309 0-.559-.444-.559-.993 0-.548.25-.993.559-.993.31 0 .56.445.56.993zM10.9978 13.7145c-.138.531-.492.898-.791.821-.299-.077-.43-.571-.292-1.101.137-.532.492-.9.791-.822.299.078.43.572.292 1.102zM12.256 17.7604c-.138.531-.492.898-.792.821-.298-.077-.43-.571-.292-1.101.138-.532.492-.9.792-.822.299.078.43.572.292 1.102zM9.7356 21.1618c-.091.354-.28.61-.42.574-.142-.036-.181-.352-.089-.706.091-.353.28-.61.42-.574.141.036.181.352.089.706zM7.4987 22.36c.137.339.138.657.003.711-.135.055-.355-.176-.491-.515-.137-.339-.137-.657-.003-.712.135-.054.355.177.491.516zM8.5585 17.444c.046.547-.166 1.011-.474 1.037-.308.026-.595-.395-.641-.942-.047-.546.165-1.011.473-1.037.308-.027.596.396.642.942zM5.4246 18.7348c.229.499.187 1.007-.094 1.137-.281.129-.695-.171-.924-.67-.228-.498-.186-1.007.095-1.136s.694.171.923.669z" fill="#FEFEFE"/></svg>': '',
                                    iconTooltip: n > 3 || r > 5 ? 'Что-нибудь необычное': ''
                            }]
                        })
                    - n++

