mixin keep()
    .keep
        .keep__grid
            .keep__content
                h3.h2.indent-b--xl Как правильно заваривать Gaba чай?
                .tabs.indent-b--l2.tabs_view_wrap
                    .tabs__list.indent-b--s(role="tablist")
                        .tabs__tab.is-active.link(role="tab" data-index="1") В глиняном чайнике
                        .tabs__tab.link(role="tab" data-index="2") В проливном чайнике

                    .tabs__panels
                        .tabs__panel.is-active(role="tabpanel" data-index="1")
                            .keep__rules
                                .keep__rule
                                    .icon-plus.icon-plus--layout--vertical
                                        .icon-plus__icon.indent-b--s
                                            img(src="../images/static/watches.png")
                                        .icon-plus__block
                                            .labeled-by.labeled-by--vertical-align--center
                                                .labeled-by__value.h4 3-4 мин
                                                .labeled-by__label Время заваривания
                                .keep__rule
                                    .icon-plus.icon-plus--layout--vertical
                                        .icon-plus__icon.indent-b--s
                                            img(src="../images/static/termo.png")
                                        .icon-plus__block
                                            .labeled-by.labeled-by--vertical-align--center
                                                .labeled-by__value.h4 90-95 °C
                                                .labeled-by__label Температура
                                .keep__rule
                                    .icon-plus.icon-plus--layout--vertical
                                        .icon-plus__icon.indent-b--s
                                            img(src="../images/static/spoon.png")
                                        .icon-plus__block
                                            .labeled-by.labeled-by--vertical-align--center
                                                .labeled-by__value.h4 4-5 г
                                                .labeled-by__label На 1 чашку
                                .keep__rule
                                    .icon-plus.icon-plus--layout--vertical
                                        .icon-plus__icon.indent-b--s
                                            img(src="../images/static/pot-classic.png")
                                        .icon-plus__block
                                            .labeled-by.labeled-by--vertical-align--center
                                                .labeled-by__value.h4 1
                                                .labeled-by__label Кол-во завариваний
                        .tabs__panel(role="tabpanel" data-index="2") 
                            .keep__rules
                                .keep__rule
                                    .icon-plus.icon-plus--layout--vertical
                                        .icon-plus__icon.indent-b--s
                                            img(src="../images/static/watches.png")
                                        .icon-plus__block
                                            .labeled-by.labeled-by--vertical-align--center
                                                .labeled-by__value.h4 3-7 мин
                                                .labeled-by__label Время заваривания
                                .keep__rule
                                    .icon-plus.icon-plus--layout--vertical
                                        .icon-plus__icon.indent-b--s
                                            img(src="../images/static/termo.png")
                                        .icon-plus__block
                                            .labeled-by.labeled-by--vertical-align--center
                                                .labeled-by__value.h4 90-95 °C
                                                .labeled-by__label Температура
                                .keep__rule
                                    .icon-plus.icon-plus--layout--vertical
                                        .icon-plus__icon.indent-b--s
                                            img(src="../images/static/spoon.png")
                                        .icon-plus__block
                                            .labeled-by.labeled-by--vertical-align--center
                                                .labeled-by__value.h4 4-5 г
                                                .labeled-by__label На 1 чашку
                                .keep__rule
                                    .icon-plus.icon-plus--layout--vertical
                                        .icon-plus__icon.indent-b--s
                                            img(src="../images/static/pot-classic.png")
                                        .icon-plus__block
                                            .labeled-by.labeled-by--vertical-align--center
                                                .labeled-by__value.h4 9
                                                .labeled-by__label Кол-во проливов
                .keep__title
                    h3.h2.indent-b--s Как правильно хранить Gaba чай?
                .keep__text.text Драгоценные мои друзья! Ни&nbsp;за&nbsp;что не&nbsp;угадаете, чем я&nbsp;только что отобедал! И&nbsp;хотя описывать содержимое своей тарелки, а&nbsp;стало быть, и&nbsp;желудка&nbsp;&mdash; занятие не&nbsp;совсем приличное, я&nbsp;все&nbsp;же не&nbsp;могу удержаться, и&nbsp;сейчас вы&nbsp;сами поймете, отчего. Итак, я&nbsp;в&nbsp;Янгоне, в&nbsp;Британской Бирме, или, как здешние жители сами ее&nbsp;называют, Бама, и&nbsp;только что с&nbsp;большим аппетитом и&nbsp;удовольствием оттрапезничал...
            .keep__aside
                .keep__aside-title
                    h3.h2 В чем&nbsp;
                        em заваривать?
                .keep__slider
                    include ../keep-slider
                    