mixin tea-circle-slide(data)
    .tea-circle-slide
        .tea-circle-slide__num(data-swiper-parallax-scale="2.4")= data.num
        .tea-circle-slide__text(data-swiper-parallax-x="-200" data-swiper-parallax-opacity="0")= data.text

