.checkbox {
    $this: &;
    position: relative;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    &__box {
        position: relative;
        display: inline-block;
        line-height: 30px;
        width: 24px;
        height: 24px;
        box-shadow: inset 0 0 0 1px #6E3F21;
        flex-shrink: 0;
        &:before,
        &:after {
            content: '';
            position: absolute;
        }
        &:after {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgNi42NzFsMS4xODM1LTEuMTE5NyA1LjgwMDYgMy4xOEwxNi45ODU4IDAgMTggLjkzMTUgNy40MjEyIDE0IDAgNi42NzF6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
            background-size: 100%;
            width: 18px;
            height: 14px;
            top: 6px;
            left: 3px;
            transform: translateY(-25%) rotate(360deg) scale(0.1);
            transform-origin: center;
            opacity: 0;
            transition: all .9s cubic-bezier(0, 0, 0.12, 1);
        }
    }
    & input:checked~.checkbox__box:after {
        transform: translateY(0) rotate(0) scale(1);
        opacity: 1;
    }
    & input:checked~&__text {
        //color: $thisolor-active;
    }
    &__control {
        display: none;
        position: absolute;
        z-index: -1;
        margin: 0;
        opacity: 0;
    }
    &__text {
        display: block;
        margin-left: 16px;
        cursor: pointer;
        color: #fff;
        font-weight: 400;
        line-height: 24px;
        // margin-bottom: -4px;
        box-sizing: border-box;
    }
    &--view {
        &--default {
            #{$this}__box {
                width: 24px;
                height: 24px;
                box-shadow: inset 0 0 0 1px #D1CCCC;
                &:after {
                    width: 15px;
                    height: 13px;
                    top: 6px;
                    left: 4px;
                    transition-duration: .2s;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAzLjgxMmwuNjU3NS0uNjM5OCAzLjIyMjYgMS44MTcxTDkuNDM2NiAwIDEwIC41MzIzIDQuMTIyOSA4IDAgMy44MTJ6IiBmaWxsPSIjRDFDQ0NDIi8+PC9zdmc+);
                }
            }
            #{$this}__text {
                color: inherit;
                margin-left: 12px;
                font-weight: 300;
            }
        }
        &--ghost {
            #{$this}__box {
                width: 14px;
                height: 14px;
                box-shadow: inset 0 0 0 1px #D1CCCC;
                &:after {
                    width: 10px;
                    height: 8px;
                    top: 3px;
                    left: 2px;
                    transition-duration: .2s;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAzLjgxMmwuNjU3NS0uNjM5OCAzLjIyMjYgMS44MTcxTDkuNDM2NiAwIDEwIC41MzIzIDQuMTIyOSA4IDAgMy44MTJ6IiBmaWxsPSIjRDFDQ0NDIi8+PC9zdmc+);
                }
            }
            #{$this}__text {
                color: #A5A5A5;
                margin-left: 10px;
                font-weight: 300;
            }
        }
    }
    &_align {
        &_top {
            align-items: flex-start;
        }
    }
}
