.input {
    $this: &;
    position: relative;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    &--view {
        &--default {
            height: 50px;
            background: #FAFAFA;
            color: #A5A5A5;
            font-size: 16px;
            line-height: 50px;
            padding: 16px 28px;
        }
        &--dark {
            height: 60px;
            background: rgba(109, 63, 35, .64);
            color: #fff;
            padding: 20px 30px;
        }
        &--form {
            //height: 57px;
            padding: 18px 20px;
            border: 1px solid #E1E1E1;
            width: 290px;
            background-color: #fff;
            @include md-block {
                width: 100%;
            }
        }
        &--small {
            height: 40px;
            width: 40px;
            padding: 0;
            & #{$this}__control {
                line-height: 38px;
                text-align: center;
            }
        }
        &--big {
            height: 64px;
            display: flex;
            align-items: center;
            background-color: #fafafa;
            padding: 0 23px;
        }
    }
    &--width {
        &--available {
            width: 100%;
        }
    }
    &__control {
        border: 0;
        background: transparent;
        width: 100%;
        display: block;
        color: inherit;
    }
    textarea.input__control {
        width: 100%;
        min-height: 126px;
        background: transparent;
        // border: 0;
        display: block;
        color: inherit;
        resize: none;
        padding: 16px;
    }
    &__icon {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 17px;
        top: 0;
        cursor: pointer;
    }
    & input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #A5A5A5;
    }
    input::-moz-placeholder {
        /* Firefox 19+ */
        color: #A5A5A5;
    }
    input:-ms-input-placeholder {
        /* IE 10+ */
        color: #A5A5A5;
    }
    input:-moz-placeholder {
        /* Firefox 18- */
        color: #A5A5A5;
    }
    &-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        &+label {
            cursor: pointer;
        }
    }
}
