.radio-box {
    $c: &;
    &__inner {
        position: relative;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        align-items: flex-start;
    }
    & input {
        // display: none;
        position: absolute;
        z-index: -1;
        margin: 0;
        opacity: 0;
        visibility: hidden;
    }
    &__box {
        position: relative;
        display: inline-block;
        line-height: 30px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #F4F4F4;
        flex-shrink: 0;
        &:before,
        &:after {
            content: '';
            position: absolute;
        }
        &:after {
            background-size: 100%;
            width: 8px;
            height: 8px;
            top: 7px;
            left: 7px;
            transform: scale(0.1);
            transform-origin: center;
            opacity: 0;
            transition: all .3s cubic-bezier(1, 0.75, 0.25, 1);
            background-color: #543019;
            border-radius: 50%;
        }
    }
    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: 300;
        line-height: 24px;
        transition: all .9s cubic-bezier(0, 0, 0.12, 1);
        &_align {
            &_top {
                align-items: flex-start;
            }
        }
    }
    &__text {
        opacity: 0.6;
        transition: opacity .3s ease;
        &:hover {
            opacity: 1;
        }
    }
    & input:checked~#{$c}__label #{$c}__box:after {
        transform: scale(1);
        opacity: 1;
    }
    & input:checked~#{$c}__label #{$c}__text {
        opacity: 1;
    }
    & input:disabled~#{$c}__label #{$c}__text {
        opacity: 0.2;
    }
    & input:not(:disabled)~#{$c}__label #{$c}__box {
        cursor: pointer;
    }
    & input:disabled~#{$c}__label {
        pointer-events: none;
        cursor: default
    }
}

.radio-boxes {
    display: flex;
    align-items: center;
}
