.radio {
  $this: &;
  position: relative;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  cursor: pointer;
  align-items: center;

  &__box {
    position: relative;
    display: inline-block;
    line-height: 30px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #F4F4F4;

    &:before, &:after {
      content: '';
      position: absolute;
    }

    &:after {
      background-size: 100%;
      width: 8px;
      height: 8px;
      top: 7px;
      left: 7px;
      transform: scale(0.1);
      transform-origin: center;
      opacity: 0;
      transition: all .9s cubic-bezier(0, 0, 0.12, 1);
      background-color: #543019;
      border-radius: 50%;
    }
  }

  & input:checked~.radio__box:after {
    transform: scale(1);
    opacity: 1;
  }

  & input:checked~&__text {
    color: $color-base-2;
  }

  &__control {
    display: none;
    position: absolute;
    z-index: -1;
    margin: 0;
    opacity: 0;
  }
  &__text {
    display: block;
    margin-left: 16px;
    cursor: pointer;
    font-weight: 300;
    line-height: 24px;
    // margin-bottom: -4px;
    box-sizing: border-box;
    color: #A5A5A5;
    transition: all .9s cubic-bezier(0, 0, 0.12, 1);
  }
}