.actions {

    &__inner {
        position: relative;
        padding-bottom: 90px;
    }

    &__header {
        text-align: center;
        position: relative;
        overflow: hidden;
    
        &:before {
          position: absolute;
          top: 35%;
          left: 0;
          right: 0;
          display: block;
          content: "";
          height: 1px;
          background-color: #e1e1e1;
        }

        & > * {
            display: inline-block;
            position: relative;
            background-color: #fff;
            padding: 0 40px;
            max-width: 620px;
            box-sizing: content-box;
            white-space: pre-line;
          }
    }

    &__tabs {
        display: flex;
        justify-content: center;
    }

    &__cards {
        @include row-flex();

        &-list {
            @include col();
            @include size(9);
        }

        &-item {
            background-color: #fff;

            &:nth-of-type(even) {
                background-color: #fafafa;
            }
        }
    }

    &__list {
        @include row-flex();
    }

    &__item {
        @include col();
        @include size(4);
        margin-bottom: 40px;
    }

    &-card {

        &__inner {
            padding: 55px 70px 55px 110px;
            display: flex;
            align-items: center;
        }

        &__image {
            flex-shrink: 0;
            width: 146px;
            margin-right: 74px;
        }

        &__title {
            width: 290px;
            flex-shrink: 0;
            margin-right: 40px;
            margin-top: 66px;
            align-self: flex-start;
        }

        &__more {
            position: relative;
            display: flex;
            align-items: center;

            &:after {
                content: '';
                display: block;
                border-color: #552F1D transparent transparent transparent;
                border-style: solid;
                border-width: 7px 3px 0 3px;
                height: 0;
                width: 0;
                margin-left: 20px;
            }

            &.is-active {
                &:after {
                    border-color: transparent transparent #552F1D transparent;
                      border-width: 0 3px 7px 3px;
                }
            }
        }

        &__description {

        }

        &__value {
            font-family: 'ArtScript', serif;
            line-height: 74px;
            font-size: 180px;
            display: flex;
            align-items: flex-start;
            color: #543019;

            & span {
                font-size: 80px;
                line-height: 34px;
                margin-left: 10px;
            }
        }

        &__rate {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &__tip {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #F4F4F4;
            color: #543019;
            font-size: 16px;
            font-weight: 300;
            font-family: 'Blacker Display', serif;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            cursor: pointer;
            line-height: 32px;
            margin-left: 12px;
        }

    }
}