.additional-buy {

  &__inner {
    padding: 12px 40px 40px;
    text-align: center;
    cursor: grab;

  }

  &__image {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > img {
      display: block;
    }
  }

  &__price {
    margin-top: 20px;
  }

  &__measure {
    display: inline-block;
    margin-left: .25em;
  }

  &__tip {

  }
}