.article-card {
    $f: &;
    border-bottom: 1px solid #E1E1E1;
    &--index {
        border-bottom: 0;
        & #{$f}__title {
            max-width: 496px;
            margin-bottom: 30px;
            @include md-block {
                text-align: left;
                max-width: none;
            }
        }
        & #{$f}__image {
            margin-bottom: 60px;
            @include md-block {
                margin-bottom: 0;
            }
        }
    }
    &__title {
        text-align: center;
        margin-top: 36px;
    }
    &__text {
        text-align: center;
        margin-top: 21px;
    }
    &__info {
        display: flex;
        margin-top: 30px;
        padding-bottom: 20px;
    }
    &__auth,
    &__date {
        flex: 1 0 50%;
    }
}
