.banner {
    position: relative;
    &>img {
        display: block;
    }
    &__image {
        height: 210px;
        background-size: cover;
        background-position: center;
    }
    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 0 54px 0 128px;
        @include md-block {
            padding: 0 30px 0 60px;
        }
    }
    &__qty {}
    &__title {
        max-width: 260px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &__desc {
        max-width: 240px;
        font-weight: 400;
        @include md-block {
            max-width: 170px;
        }
    }
}
