.breadcrumb {
    padding-top: 50px;
    background-color: #fff;
    &__list {
        @include unlist();
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #D0D0D0;
        @include sm-block {
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }
    &__item {
        &:after {
            content: '/';
            padding: 0 .5em;
        }
        &--last {
            &:after {
                display: none;
            }
        }
    }
    &__link {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1.85714px;
        text-transform: uppercase;
        color: #D0D0D0;
        text-decoration: none;
        &--link {}
        @include sm-block {
            font-size: 10px;
        }
    }
}
