.cardlist {
    $this: &;
    @include unlist();
    //@include row-flex();
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    @include md-block {
        margin-bottom: 0;
    }
    &__item {
        //@include col();
        //@include size(3);
    }
    &--no-gutter {
        & #{$this}__item {
            width: calc(100% / 4);
            margin: 0;
        }
    }
    &--3fr {
        & #{$this}__item {
            @include u-size(1, 3, 0px);
            border: solid #E1E1E1 1px;
            border-top: 0;
            border-left: 1px solid transparent;
            &:nth-of-type(3n+1) {
                border-left: solid #E1E1E1 1px;
            }
            @include md-block {
                @include u-size(1, 2, 0px);
                border: solid #E1E1E1 1px;
                border-top: 0;
                border-left: 1px solid transparent;
                &:nth-of-type(3n+1) {
                    border-left: solid #E1E1E1 1px;
                }
                &:nth-of-type(3) {
                    display: none;
                }
            }
        }
    }
    &--2fr {
        border-top: 1px solid #E1E1E1;
        & #{$this}__item {
            @include u-size(1, 2, 0px);
            border: 1px solid #E1E1E1;
            border-top: 0;
            border-left: 1px solid transparent;
            &:nth-of-type(2n+1) {
                border-left: solid #E1E1E1 1px;
                //border-top: 0;
            }
        }
    }
    &--2col {
        @include row-flex();
        & #{$this}__item {
            @include col();
            @include size(6);
            margin-top: $offset;
            &:first-of-type,
            &:nth-of-type(2) {
                margin-top: 0;
            }
        }
        @include md-block {
            @include u-row-flex(16px);
            & #{$this}__item {
                @include u-col(16px);
                @include u-size(1, 2, 16px);
                margin-top: 16px;
                &:first-of-type,
                &:nth-of-type(2) {
                    margin-top: 0;
                }
            }
        }
    }
    &--layout--vertical {
        flex-direction: column;
        align-items: stretch;
        & #{$this}__item {
            width: 100%;
            border: solid #E1E1E1 1px;
            border-top: 0;
            @include md-block {
                &:first-of-type {
                    border-top: solid #E1E1E1 1px;
                }
            }
        }
    }
}
