.card {
  position: relative;
  display: flex;
  flex-direction: column;

  &--border {
    &--around {
      border: 1px solid #E1E1E1;
    }
  }

  &--vertical-align {
    &--top {
      justify-content: flex-start;
    }
    &--center {
      justify-content: center;
    }
    &--bottom {
      justify-content: flex-end;
    }
  }

  &--view {

    &--default {
      background-color: #fff;
    }
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &--distribute {
      &__default {
        display: flex;
        justify-content: flex-start;
      }

      &--center {
        display: flex;
        justify-content: center;
      }

      &--between {
        display: flex;
        justify-content: space-between;
      }

      &--right {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__content {
    display: flex;
    position: relative;

    &--distribute {

      &__default {
        justify-content: flex-start;
      }

      &--center {
        flex-direction: column;
        align-items: center;
      }

      &--between {
        justify-content: space-between;
      }

      &--left {
        flex-direction: column;
        align-items: flex-start;
      }

      &--right {
        flex-direction: column;
        align-items: flex-end;
      }
    }

    &--vertical-align {

      &--center {
        flex-direction: column;
        justify-content: center;
      }

      &--top {
        flex-direction: column;
        justify-content: flex-start;
      }
      &--bottom {
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    &--distribute {

      &--between {
        justify-content: space-between;
      }

      &--center {
        justify-content: center;
      }

      &--right {
        justify-content: flex-end;
      }
    }

    &--vertical-align {

      &--top {
        align-items: flex-start;
      }
      &--center {
        align-items: center;
      }
      &--top {
        align-items: flex-end;
      }
    }
  }

  &__image {
    &--size--cover {
      position: absolute;
      top: 0;
      left: 0;
    }

    & > img {
      display: block;
    }
  }
}