.cart {
    &__grid {
        @include row-flex();
    }
    &__main {
        @include col();
        @include size(7);
        @include size-md(7)
    }
    &__total {
        @include col();
        @include size(5);
        @include size-md(5);
        align-self: flex-start;
    }
    &__list {
        @include unlist()
    }
    &__item {
        padding: 60px 30px 60px 30px;
        border: 1px solid #e1e1e1;
        border-top: 1px solid transparent;
        position: relative;
        &:first-child {
            border-top: 1px solid #e1e1e1;
        }
        @include md-block {
            padding: 24px 0 56px;
            border: 0;
            border-top: 1px solid #e1e1e1;
            &:last-of-type {
                border-bottom: 1px solid #e1e1e1;
            }
        }
        & input {
            color: #a5a5a5;
        }
    }
    &__item-del {
        padding: 0;
        position: absolute;
        top: 28px;
        right: 30px;
        @include md-block {
            top: 0;
            right: 18px;
            transform: translateY(-50%);
            &:before {
                content: '';
                display: block;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: #f4f4f4;
                position: absolute;
                z-index: -1;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 28px;
                top: 4px;
                height: 3px;
                width: 30px;
                z-index: 2;
                background-color: #fff;
            }
        }
    }
    &__total-discounts {
        border: 1px solid #e1e1e1;
        padding: 40px 50px 70px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        @include md-block {
            padding: 40px 30px;
        }
    }
    &__total-final {
        border: 1px solid #e1e1e1;
        border-top: 1px solid transparent;
        padding: 40px 50px;
        background-color: #FAFAFA;
        position: relative;
        z-index: 1;
        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @include md-block {
                flex-direction: column;
            }
        }
        @include md-block {
            padding: 40px 30px;
        }
    }
    &__total-man {
        display: block;
        background: url('../images/static/eng-man-on-balloon.png') top center no-repeat;
        background-size: 100%;
        width: 386px;
        height: 312px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        @include md-block {
            width: 294px;
            height: 236px;
        }
    }
    &__total-final-btns {
        display: flex;
        flex-direction: column;
    }
    &__additions {
        margin-top: 70px;
    }
    &__addition {
        border-bottom: 1px solid #e1e1e1;
        padding-bottom: 70px;
        margin-bottom: 70px;
        &:last-of-type {
            border-bottom: 0;
        }
    }
    &__step {
        position: relative;
        z-index: 1;
        text-align: center;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        &-num {
            font-family: 'ArtScript', serif;
            font-size: 150px;
            line-height: 62px;
            color: #f4f4f4;
            position: absolute;
            z-index: -1;
            top: 8px;
        }
        &-title {
            color: #27160E;
        }
    }
    &__free {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        &-img {
            width: 142px;
            height: 142px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                display: block;
            }
        }
        &-title {
            width: 160px;
        }
        &-text {
            width: 180px;
        }
        &-btn {
            margin-left: auto;
        }
    }
    &__presents {
        display: flex;
        justify-content: space-between;
        @include md-block {
            justify-content: space-around;
        }
        &>* {
            max-width: 180px;
            @include md-block {
                max-width: 168px;
                display: none;
                &:nth-of-type(1),
                &:nth-of-type(2) {
                    display: block;
                }
            }
        }
    }
    &__present {
        &-text {
            text-align: center;
        }
        &-selects {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            @include md-block {
                flex-direction: column;
                align-items: center;
            }
        }
        &-select {
            margin-right: 60px;
            &:last-of-type {
                margin-right: 0;
                @include md-block {
                    margin-bottom: 0;
                }
            }
            @include md-block {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
        &-giftcard {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            & .h4 {
                @include md-block {
                    font-size: 25px;
                    margin-bottom: 18px;
                }
            }
        }
        &-item {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            margin-bottom: 30px;
            &_distribute {
                &_center {
                    align-items: center;
                }
            }
        }
        &-image {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            & img {
                display: block;
            }
        }
    }
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @include md-block {
            flex-wrap: wrap;
        }
        &__image {
            width: 72px;
            height: 74px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: $size-xs;
            flex-shrink: 0;
        }
        &__title {
            flex: 0 0 170px;
        }
        &__price {
            white-space: nowrap;
            text-align: right;
            line-height: 1;
            @include md-block {
                margin-right: 30px;
            }
        }
        &__qty {
            display: flex;
            align-items: center;
            justify-content: center;
            @include md-block {
                margin: 0 auto;
            }
        }
        &__measure {
            font-size: 14px;
        }
        &__sum {
            text-align: right;
            line-height: 1;
            min-width: 88px;
            @include md-block {
                font-size: 21px;
            }
        }
    }
    &__auth {
        padding-bottom: 60px;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 80px;
        &-login {
            padding-left: 0;
            padding-right: 0;
            margin-top: -2px;
        }
        &-data {
            margin-right: 100px;
            @include md-block {
                margin-right: 0;
            }
        }
        & .form__row {
            @include md-block {
                flex-direction: column;
                align-items: stretch;
            }
        }
    }
    &__social {
        margin-top: 60px;
    }
    &__social-list {
        color: #543019;
        display: flex;
        margin-top: 20px;
    }
    &__social-item {
        margin-right: 35px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    &__delivery {
        padding-bottom: 130px;
        &-price {
            text-align: center;
            padding: 30px 0 60px;
            border-top: 1px solid #e1e1e1;
        }
        &-shops {
            display: flex;
            overflow: hidden;
            border: 1px solid #e1e1e1;
            @include md-block {
                flex-direction: column;
            }
        }
        &-map {
            width: 400px;
            height: 450px;
            flex-shrink: 0;
            @include md-block {
                width: 100%;
            }
        }
        &-list {
            height: 450px;
            flex: 1;
            border-left: 1px solid #e1e1e1;
            padding-right: 30px;
            overflow-y: auto;
        }
        &-item {
            border-bottom: 1px solid #e1e1e1;
            &:last-of-type {
                border-bottom: 0;
            }
        }
        &-when {
            display: flex;
            justify-content: center;
        }
    }
    &__ship {
        font-family: 'Blacker Display', serif;
        font-size: 18px;
        text-align: center;
    }
    &__pay-types {
        display: flex;
        justify-content: center;
        padding-bottom: 80px;
        border-bottom: 1px solid #e1e1e1
    }
    &__section-content {
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__row {
        display: flex;
        align-items: center;
        width: 100%;
        &_distribute {
            &_between {
                justify-content: space-between;
            }
        }
        &_align {
            &_top {
                align-items: flex-start;
            }
        }
    }
    &__final {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @include md-block {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__total-final-sum {
        @include md-block {
            margin-bottom: 24px;
        }
    }
    &__one-click {
        padding-left: 0;
        padding-right: 0;
    }
}
