.catalog-text {
    margin-top: 140px;
    &__inner {
        @include row-flex();
    }
    &__title {
        text-align: center;
        @include col();
        @include size(10);
        @include size-md(10);
        @include shift(1);
        @include shift-md(1);
        position: relative;
        &>.h1 {
            display: inline-block;
            background-color: #fff;
            padding: 0 60px;
        }
        &:before {
            background-color: #e1e1e1;
            height: 1px;
            width: 100%;
            content: '';
            top: 50%;
            left: 0;
            right: 0;
            display: block;
            position: absolute;
            z-index: -1;
        }
    }
    &__content {
        @include col();
        @include size(6);
        @include size-md(10);
        @include shift(3);
        @include shift-md(1);
    }
    &__subtitle {
        text-align: center;
    }
}
