.catalog {
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 25%;
        border-left-color: transparent;
        &:nth-of-type(n+5) {
            border-top: none;
        }
        &:nth-child(4n-7) {
            border-left: 1px solid #e1e1e1;
        }
        @include md-block {
            width: calc(100% / 3);
            &:nth-of-type(n+5) {
                border-top: 1px solid #e1e1e1;
            }
            &:nth-child(4n-7) {
                border-left-color: transparent;
            }
            &:nth-of-type(n+4) {
                border-top: none;
            }
            &:nth-child(3n + 1) {
                border-left: 1px solid #e1e1e1;
            }
        }
    }
}
