.catalog-item {
    $c: &;
    background-color: #fff;
    padding: 30px 30px 40px;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 0 0 rgba(237, 237, 237, 0.5);
    transition: box-shadow .9s cubic-bezier(0, 0, 0.12, 1);
    @media screen and (min-width: 1024px) {
        &:hover {
            position: absolute;
            z-index: 11;
            box-shadow: 0 2px 30px 10px rgba(237, 237, 237, 0.5);
            &::after {
                content: '';
                position: absolute;
                top: -1px;
                right: -1px;
                left: -1px;
                bottom: -1px;
                background-color: #fff;
                z-index: -1;
            }
            & #{$c}__desc,
            & #{$c}__btns {
                display: flex;
            }
        }
    }
    @include md-block {
        padding: 16px 24px 22px;
    }
    &__fav {}
    &__types {
        display: flex;
        justify-content: flex-end;
    }
    &__type {
        margin-right: 30px;
        position: relative;
        z-index: 1;
        &:last-of-type {
            margin-right: 0;
        }
        &:hover {
            z-index: 2;
            #{$c}__tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__tooltip {
        position: absolute;
        top: -2px;
        left: 100%;
        margin-left: 10px;
        height: 31px;
        white-space: nowrap;
        line-height: 31px;
        background-color: #fff;
        z-index: 3;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        pointer-events: none;
        padding: 0 10px;
        box-sizing: content-box;
        &:before {
            content: '';
            display: block;
            border-bottom: 1px solid #e1e1e1;
            border-left: 1px solid #e1e1e1;
            width: 10px;
            height: 10px;
            background: #fff;
            transform: rotate(45deg);
            position: absolute;
            left: -6px;
            top: 10px;
            z-index: 3;
        }
        &:after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid #e1e1e1;
        }
    }
    &__image {
        width: 191px;
        height: 183px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }
    &__title {}
    &__category {
        font-family: 'Blacker Display', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #A5A5A5;
        margin-bottom: 25px;
    }
    &__price {}
    &__qty {
        margin-top: 1px;
    }
    &__footer {
        position: absolute;
        top: 100%;
    }
    &__desc {
        height: 66px;
        overflow: hidden;
        margin-top: 16px;
        display: none;
        @include md-block {
            display: none;
        }
    }
    &__btns {
        display: none;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        align-self: stretch;
        margin-top: 22px;
        @include md-block {
            display: flex;
        }
    }
}
