.cat-menu {
    @include row-flex();
    padding-top: 45px;
    &__categories {
        @include col();
        @include size(3);
        position: relative;
        z-index: 1;
        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            display: block;
            width: 256px;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: #FAFAFA;
            @include md-block {
                width: 212px;
            }
        }
        @include md-block {
            @include size-md(3);
        }
    }
    &__cat-list {
        @include unlist();
        padding: 40px 0 0 70px;
        @include md-block {
            padding-left: 60px;
        }
    }
    &__cat-item {
        margin-bottom: 45px;
    }
    &__cat-link {}
    &__content {
        @include col();
        @include size(5);
        padding-top: 44px;
        color: $color-base-2;
        background-color: #fff;
        @include md-block {
            @include size-md(8);
            @include shift-md-left(1);
        }
    }
    &__sub {
        border-bottom: 1px solid #E1E1E1;
    }
    &__sub-list {
        @include unlist();
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
        margin-top: 40px;
        padding-bottom: 20px;
        max-height: 374px;
        box-sizing: content-box;
    }
    &__sub-item {
        max-width: 180px;
        margin: 0 40px 20px 0;
    }
    &__filters {
        @include unlist();
        display: flex;
        justify-content: space-between;
        padding-top: 44px;
    }
    &__filter {
        flex: 0 1 auto;
        max-width: 170px;
        @include md-block {
            flex: 0 0 calc(100% / 3 - 20px);
            max-width: none;
        }
    }
    &__filter-title {
        margin-bottom: 25px;
    }
    &__filter-list {
        @include unlist();
    }
    &__filter-item {
        margin-bottom: 10px;
    }
    &__filter-sublist {
        @include unlist();
        padding-left: 24px;
    }
    &__filter-subitem {
        margin-top: 10px;
    }
    &__promo {
        @include col();
        @include size(4);
        background-color: #fff;
        @include md-block {
            @include size-md(12);
            display: flex;
            align-self: stretch;
            margin-top: 35px;
            &>* {
                flex: 1;
            }
            & .cardlist__item {
                border-left-color: transparent !important;
            }
        }
    }
}
