.compilations {
    padding-bottom: 90px;
    &-history__desc {
        max-width: 740px;
        margin: 0 auto 90px;
        text-align: center;
    }
    &-history__years {
        font-family: 'ArtScript', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 300px;
        line-height: 160px;
        color: #F7F7F7;
    }
    &__list {
        @include unlist();
        @include row-flex();
        @include md-block {
            justify-content: center;
        }
    }
    &__item {
        @include col();
        @include size(2);
        @include size-md(3);
        margin-bottom: 40px;
        text-align: center;
    }
    &__link {
        text-decoration: none;
    }
}
