.consists {

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
  }

  &__list {
    @include unlist();
    display: flex;
    justify-content: space-between;
  }

  &__item {
    flex: 0 0 auto;
    text-align: center;
    margin-right: 5px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__image {
    width: 82px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__more {
    text-decoration: underline;
  }
}