.degustation-slider {
    overflow: hidden;
    position: relative;

    &__controls {
        height: 43px;
        padding: 22px 70px 0;
        position: relative;
    }

    &__calendar-link {
        white-space: nowrap;
        color: #a5a5a5;
        position: relative;
        z-index: 10;
    }

    &__pagination {
        position: absolute;
        z-index: 9;
        left: 50%;
        bottom: 0;

        & .swiper-pagination-bullet {
            opacity: 1;
            background-color: #e2e2e2;
            margin: 0 16px !important;
        }

        & .swiper-pagination-bullet-active {
            background-color: #4C0B0B;
        }
    }

    
}

.degustation-slide {

    &__header {
        height: 187px;
        background-color: #000;
        color: #fff;
        position: relative;
        padding: 55px 0 0 70px;
        cursor: grab;

    }

    &__image {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

    &__title {
        position: relative;
        z-index: 2;
        max-width: 440px;
    }

    &__footer {
        background-color: #fafafa;
        display: flex;
        align-items: center;
        padding-left: 70px;
        height: 95px;
    }

    &__when {
        margin-right: 50px;
    }

    &__vacant {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        right: 70px;
        top: 70px;
        z-index: 2;
    }

    &__vacant-val {
        font-family: 'ArtScript', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 200px;
        line-height: .45;
        height: 85px;
        color: #543019;
        position: relative;
        margin: 14px 0;
        overflow: hidden;
    }

    &__vacant-free {
        color: #a5a5a5;
    }

    &__btn {
        background-color: #552F1D;
    }
}