.degustations {
    &__inner {
        @include row-flex();
        width: calc(100% - -40px);
        @include md-block {
            flex-wrap: nowrap;
        }
    }
    &__item {
        @include col();
        @include size(6);
        // @include size-md(12);
        @include md-block {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
}
