.form {
  $c: &;
  position: relative;

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__block-title {
    color: #27160E;
  }

  &__item {
    // flex: 1;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__buttons {
    margin-top: 30px;
  }

  &_type {

    &_modal {

      & #{$c}__block {
        width: 100%;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        &_distribute {

          &_between {
            justify-content: space-between;
          }

          &_center {
            justify-content: center;
          }
        }

        &_justify {

          &_top {
            align-items: flex-start;
          }

          &_center {
            align-items: center;
          }
        }
      }

      & #{$c}__item {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 0;
      }

      & #{$c}__label {
        @include h4();
        white-space: nowrap;
        margin-bottom: 20px;
      }

      & #{$c}__input {
        width: 100%;
      }
    }
  }

  &__radio-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__row {
    display: flex;
  }
}