.geography {
    &__grid {
        @include row-flex();
    }
    &__image {
        @include col();
        @include size(12);
        @include size-md(12);
        & img {
            display: block;
        }
    }
    &__map {
        @include col();
        @include size(5);
        @include size-md(6);
        height: 610px;
    }
    &__content {
        @include col();
        @include size(7);
        @include size-md(6);
        padding-top: 80px;
        @include md-block {
            padding-top: 30px;
        }
    }
    &__info-row {
        display: flex;
        margin-bottom: 36px;
        flex-wrap: wrap;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__info {
        margin-right: 80px;
        margin-bottom: 28px;
        flex: 0 1 auto;
        @include md-block {
            margin-right: 30px;
        }
        & .h4 {
            position: relative;
            align-self: flex-start;
            text-shadow: 1px #fff;
            &:after {
                content: '';
                position: absolute;
                bottom: 3px;
                display: block;
                width: 100%;
                height: 1px;
                background-color: #543019;
            }
        }
        &-label {
            color: #a5a5a5;
            white-space: nowrap;
            margin-top: 4px;
        }
        &-title {
            margin-top: 60px;
        }
        &-text {
            margin-bottom: 1em;
            &:first-of-type {
                margin-top: 32px;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
