.index-articles {
    padding-bottom: 120px;
    @include md-block {
        padding-bottom: 0;
    }
    &__content {
        @include row-flex();
    }
    &__article {
        @include col();
        @include size(6);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include md-block {
            @include size(10);
            @include shift(1);
            margin-bottom: 70px;
            text-align: left;
        }
    }
    &__list {
        @include col();
        @include size(5);
        @include shift-left(1);
        display: flex;
        flex-direction: column;
        @include md-block {
            @include size(10);
            @include shift(1);
        }
    }
}
