.index-history {
    margin-bottom: 120px;
    &__list {
        @include unlist();
        @include row-flex();
    }
    &__item {
        @include col();
        @include size(2);
        @include size-md(3);
        @include size-sm(6);
        text-align: center;
        @include md-block {
            display: none;
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4) {
                display: block;
            }
        }
    }
    &__image {
        width: 140px;
        height: 109px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $size-2xs;
    }
    &__caption {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            display: table;
        }
    }
    &__desc {
        max-width: 740px;
        margin: 0 auto;
        text-align: center;
    }
    &__years {
        font-family: 'ArtScript', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 300px;
        line-height: 160px;
        color: #F7F7F7;
    }
}
