.index-sliders {
    display: flex;
    height: 610px;
    padding: 50px 0 110px;
    box-sizing: content-box;
    align-items: stretch;
    position: relative;
    @include md-block {
        height: 510px;
        padding: 20px 0 40px;
    }
    @include sm-block {
        height: 380px;
    }
    &__left-slider {
        width: 790px;
        overflow: hidden;
        @include md-block {
            width: 100%;
        }
    }
    &__right-slider {
        width: 490px;
        overflow: hidden;
        height: 100%;
        @include md-block {
            display: none;
        }
    }
}

.index-slider {
    overflow: hidden;
    height: 100%;
    position: relative;
    &--left {
        .swiper-pagination-bullet {
            background-color: rgba(255, 255, 255, 0.4);
            margin: 0 16px!important;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background-color: #ffffff;
        }
    }
    &--right {
        .swiper-pagination {
            bottom: 0;
        }
        .swiper-pagination-bullet {
            background-color: #e2e2e2;
            margin: 0 16px!important;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background-color: #4C0B0B;
        }
    }
    &__left-slide {
        width: 790px;
        height: 610px;
    }
    &__title {
        @include view-link();
        color: #D0D0D0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1;
    }
}

.slide-left {
    overflow: hidden;
    height: 100%;
    &__image {
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    &__content {
        width: 610px;
        height: 340px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        //top: 128px;
        //left: 60px;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        color: #fff;
        margin-bottom: 35px;
        position: relative;
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 28px;
            width: 77px;
            display: block;
            height: 2px;
            background-color: #fff;
        }
        &:before {
            right: 100%;
            margin-right: 30px;
        }
        &:after {
            left: 100%;
            margin-left: 30px;
        }
    }
    &__text {
        font-family: 'Blacker Display', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 60px;
        max-width: 233px;
        text-align: center;
    }
}

.slide-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__number {
        font-family: 'ArtScript', serif;
        font-style: normal;
        font-weight: normal;
        font-size: 150px;
        line-height: 62px;
        color: #F4F4F4;
        padding-top: 6px;
    }
    &__title {
        margin-top: $size-3xs;
    }
    &__category {
        margin-top: $size-xs;
    }
    &__images {
        position: relative;
        margin-top: $size-s;
        cursor: grab;
    }
    &__image-back {
        width: 310px;
        height: 310px;
    }
    &__image-front {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        //width: 100%;
        width: 285px;
        height: 285px;
        //height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__buttons {
        margin-top: $size-l;
        display: flex;
    }
}
