.lib {
    $c: &;
    
    &__inner {
        @include row-flex();
    }

    &__col {
        @include col();
        @include size(6);

        &:nth-child(1) {
            & #{$c}__card {
                padding-right: 70px;
            }
        }

        &:nth-child(2) {
            & #{$c}__card {
                padding-left: 70px;
            }
        }
    }

    &__card {
        margin-bottom: 90px;
        

        &_view {

            &_dark {
                padding: 60px 70px;
                background-color: #fafafa;
            }
        }
    }
}

.lib-card {
    $c: &;

    border-bottom: 1px solid #e1e1e1;

    &_view {

        &_dark {
            border: 0;

           
        }

        &_light {

            & #{$c}__inner {
                padding-bottom: 40px;
            }

            & #{$c}__header {

                &:before {
                    position: absolute;
                    top: 45%;
                    left: 0;
                    right: 0;
                    display: block;
                    content: "";
                    height: 1px;
                    background-color: #e1e1e1;
                }
          
                & > * {
                      display: inline-block;
                      position: relative;
                      background-color: #fff;
                      padding: 0 40px;
                      max-width: 150px;
                      box-sizing: content-box;
                      white-space: pre-line;
                      z-index: 10;
                }
            }
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        text-align: center;
        position: relative;
        align-self: stretch;
        color: #27160E;
    }

    &__description {
        text-align: center;
        color: #170000;
    }

    &__list {
        @include unlist();
        align-self: stretch;
        margin-bottom: 60px;
        columns: 2
    }

    &__item {
        margin-top: 1em;
        width: 100%;
        padding-right: 10px;

        &:first-of-type {
            margin-top: 0;
        }
    }

    &__link {
        @include unlink();
        color: #787878;
    }

    &__more {
        position: relative;
        display: flex;
        align-items: center;
        align-self: flex-start;
        cursor: pointer;

        &:after {
            content: '';
            display: block;
            border-color: #552F1D transparent transparent transparent;
            border-style: solid;
            border-width: 7px 3px 0 3px;
            height: 0;
            width: 0;
            margin-left: 10px;
        }

        &.is-active {
            &:after {
                border-color: transparent transparent #552F1D transparent;
                  border-width: 0 3px 7px 3px;
            }
        }
    }
}