.lk-card {
    background-color: #fafafa;

    &__inner {
        height: 100%;
        padding: 70px 50px 50px 70px;
        display: flex;
    }

    &__image {
        border-radius: 5px;
        margin-right: 80px;

        & img {
            display: block;
        }
    }

    &__content {
        padding-top: 24px;
        flex: 1 1 auto;
    }

    &__label {
        color: #a5a5a5;
        margin-bottom: 0;
        margin-top: 5px;
    }

    &__params {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__more {
        cursor: pointer;
    }

    &__suggest {
        max-width: 240px;
        margin-top: 3px;

        &:before, &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #170000;
            opacity: 0.2;
        }

        &:before{
            margin-bottom: 16px;
        } 
        
        &:after{
            margin-top: 16px;
        }
    }

    &__desc {
        width: 100%;
    }

    &__row {
        display: flex;
        flex-wrap: nowrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__item {
        width: calc(100% / 3 - 30px);
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px 0 30px;
        border: 1px solid #e1e1e1;
        min-height: 145px;
        position: relative;

        &.is-active, &:hover {
            border-color: #543019;
            cursor: pointer;
        }

        &:not(:first-of-type) {
            &:after {
                content: '';
                background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAxdjBsNiA1LjV2MEwwIDEydjAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzU0MzAxOSIgc3Ryb2tlLW1pdGVybGltaXQ9IjUwIi8+PC9zdmc+) center no-repeat;
                display: block;
                background-size: contain;
                width: 6px;
                height: 11px;
                position: absolute;
                left: -18px;
            }
        }
    }

    &__contents {
        padding: 0 100px 0 150px;

        & ul {
            list-style: none;
            padding-left: 29px;
        }

        & li {
            position: relative;
            font-size: 15px;
            line-height: 22px;
            color: #170000;
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }

            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                left: -29px;
                top: 0.75em;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: #543019;
            }
        }
    }
}