.lk {
    @include row-flex();
    padding-bottom: 160px;
    &__menu {
        @include col();
        @include size(3);
        @include size-md(12);
        @include md-block {
            border-bottom: 1px solid #E1E1E1;
            margin-bottom: 40px;
        }
    }
    &__content {
        @include col();
        @include size(9);
        @include size-md(12);
    }
    &__personal,
    &__subscript {
        @include col();
        @include size(8);
        @include size-md(12);
        @include shift-left(1);
        @include shift-md-left(0);
    }
}
