.rec {

    &__inner {
        padding: 30px 0 90px;
    }

    &__header {
        text-align: center;
        position: relative;
        // overflow: hidden;
    
        &:before {
          position: absolute;
          top: 35%;
          left: 0;
          right: 0;
          display: block;
          content: "";
          height: 1px;
          background-color: #e1e1e1;
        }

        & > * {
            display: inline-block;
            position: relative;
            background-color: #fff;
            padding: 0 40px;
            max-width: 620px;
            box-sizing: content-box;
            white-space: pre-line;
            z-index: 10;
          }
    }

    &__rate {
        position: absolute;
        font-size: 300px;
        line-height: 132px;
        color: #F7F7F7;
        text-align: center;
        font-family: 'ArtScript', serif;
        left: 50%;
        top: 0;
        z-index: -1;
        transform: translate(-50%, -50%);
        user-select: none;
    }

    &__subheader {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    &__list {

    }

    &__item {
        border-bottom: 1px solid #e1e1e1;

        &:last-of-type {
            border: 0;
        }
    }

    &-item {

        &__inner {
            padding: 40px 70px 40px 110px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__dates {
            color: #27160E;
        }

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;

            & img {
                display: block;
            }
        }

        &__title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: #27160E;
        }

        &__name {

        }

        &__priceOld {
            color: #DA5B1F;
            position: relative;
            padding-left: 10px;
            margin-left: -10px;


            &:after {
                content: '';
                position: absolute;
                height: 1px;
                display: block;
                background-color: #DA5B1F;
                top: 50%;
                left: -5px;
                right: -5px;
            }
        }

        &__price {

        }

        &__units {

        }

        &__qty {

        }

        &__description {
            flex-shrink: 0;
            width: 340px;
        }

        &__text {
            margin-bottom: 26px;
            max-height: 66px;
        }

        &__controls {
            display: flex;
        }

        &__cart {
            width: 92px;
            height: 56px;
        }

    }
}