.register {
    padding-bottom: 400px;
    background: url(../images/static/reg-bg.png) calc(0% - 80px) calc(100% - 150px) no-repeat;
    background-size: 60%;
    @include md-block {
        background-position: center bottom;
        background-size: 80%;
    }
    &__inner {
        @include row-flex();
    }
    &__form {
        @include col();
        @include size(6);
        @include size-md(8);
        @include size-sm(12);
        @include shift(3);
        @include shift-md(2);
        @include shift-sm(0);
    }
    &__submit {
        margin-right: 70px;
        @include md-block {
            margin-right: 30px;
        }
    }
}
