.section {
    position: relative;
    &__header {
        text-align: center;
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        z-index: 10;
        &:before {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            display: block;
            content: "";
            height: 1px;
            background-color: #9B9B9B;
        }
        &>* {
            display: inline-block;
            position: relative;
            background-color: #fff;
            padding: 0 40px;
            max-width: 440px;
            box-sizing: content-box;
            white-space: pre-line;
        }
        @include md-block {
            max-width: 600px;
        }
    }
    &__subheader {
        text-align: center;
    }
    &--flavors {
        background-color: #F4C1B7;
        cursor: none;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
    }
    &--light-gray {
        background-color: #FAFAFA;
    }
}
