.shop {
    padding-bottom: 90px;
    &__section {
        border-bottom: 1px solid #e1e1e1;
        &:last-of-type {
            border-bottom: 0;
        }
    }
    &__inner {
        @include row-flex();
        padding-bottom: 50px;
    }
    &__gallery,
    &__description {
        @include col();
    }
    &__gallery {
        @include size(7);
        @include size-md(12)
    }
    &__description {
        @include size(4);
        @include size-md(12);
        @include shift-left(1);
        @include shift-md-left(0);
    }
    &__view-map {
        padding-left: 0;
        padding-right: 0;
    }
    &__discount {
        @include row-flex();
        padding: 60px 0;
        color: #27160E;
    }
    &__system {
        @include col();
        @include size(6);
    }
    &__actions {
        @include col();
        @include size(4);
        @include shift(1);
    }
    &__disc-list {
        @include u-row-flex(40px);
        color: #543019;
    }
    &__disc-item {
        @include u-col(40px);
        @include u-size(1, 3, 40px);
    }
    &__disc-value {
        font-family: 'ArtScript', serif;
        font-size: 180px;
        line-height: 74px;
        white-space: nowrap;
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;
        & i {
            font-size: 80px;
            line-height: 34px;
        }
    }
    &__actions {
        color: #27160E;
    }
    &__action {
        margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__degustations {
        padding: 90px 0 60px;
    }
    &__degustation-item {
        padding-bottom: 25px;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 70px;
        &:last-of-type {
            border-bottom: 0;
            margin-bottom: 0;
        }
    }
    &__location {
        @include row-flex();
        padding-top: 40px;
    }
    &__map {
        @include col();
        @include size(12);
        @include size-md(12);
    }
    &__route {
        padding-left: 0;
        padding-right: 0;
    }
    & #shop-map {
        width: 100%;
        height: 350px;
    }
}
