.stores {
    $c: &;
    &__inner {
        @include row-flex();
        align-items: flex-start;
        padding-bottom: 90px;
        position: relative;
    }
    &__main,
    &__map {
        @include col();
    }
    &__main {
        @include size(5);
        @include size-md(6);
    }
    &__map {
        @include size(7);
        @include size-md(6);
        min-height: 790px;
        & canvas {
            filter: brightness(1.04);
        }
    }
    &__search {
        height: 64px;
        border: 1px solid #E1E1E1;
        padding: 0 30px;
        & input {
            border: 0;
            width: 100%;
        }
    }
    &__item {
        border-bottom: 1px solid #e1e1e1;
        position: relative;
        z-index: 10;
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: -40px;
            right: -40px;
            z-index: -1;
            background-color: transparent;
            transition: background-color .3s ease;
            @include md-block {
                left: -16px;
                right: -16px;
            }
        }
        &.is-active,
        &:hover {
            &:after {
                background-color: #FAFAFA;
            }
        }
        &:hover {
            cursor: pointer;
        }
        &.is-active {
            cursor: auto;
        }
    }
}

.store {
    $c: &;
    overflow: hidden;
    &__inner {
        padding: 50px 0 60px;
    }
    &__main {
        padding-bottom: 45px;
    }
    &__additional {
        padding-bottom: 25px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: -100;
        transform: translate3d(0, 30%, 0);
        transition: all .4s cubic-bezier(0, 0, 0.12, 1);
    }
    &__title {
        margin-bottom: 25px;
    }
    &__row {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
        &>* {
            flex: 0 0 calc(50% - 10px);
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            @include md-block {
                flex: 1 1 100%;
            }
        }
        @include md-block {
            flex-wrap: wrap;
        }
    }
    &__phone {
        text-decoration: none;
    }
    &__image {
        & img {
            display: block;
        }
    }
    &.is-active {
        & #{$c}__additional {
            position: static;
            visibility: visible;
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}
