$size-3xs: 5px;
$size-2xs: 10px;
$size-xs: 15px;
$size-s: 20px;
$size-m: 30px;
$size-l: 40px;
$size-l2: 50px;
$size-xl: 60px;
$size-2xl: 70px;
$size-3xl: 90px;
$size-4xl: 100px;
$size-5xl: 120px;
$size-6xl: 140px;